$dark-primary: mat-palette($mat-grey, 900);
$dark-accent: mat-palette($mat-yellow, 600);
$dark-warn: mat-palette($mat-red, 700);

$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);