@import '../theme/styles/variables';

.theme-container{
    max-width: $theme-max-width;
    margin: 0 auto;
}

.main.theme-container {
    background-color: #fff;
}

.theme-container.wrapper{
    
    .main{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .sidenav{
        width: 250px;
        padding: 8px 16px;
        position: fixed;
        .close{
            margin-left: 178px;
        }
        .divider{
            margin: 8px 0;
        }
    }

    .main-header {
        .main-header-right .main-header-sub .shopping-cart .cart-dropdown.mat-menu-panel{
            min-width: 400px;
            max-width: 400px;
            padding: 6px 14px;
            font-size: 13px;
            
            .cart-dropdown-footer{
                font-size: 14px;
        
                .cart-dropdown-submit {
                    background-color: #5AAD49;
                    font-family: "Poppins";
                    color: #fff!important;
                    text-decoration: none!important;
                }
            }
        }
    }

    #brand {
        margin-bottom: .5rem;
        .logo {
            line-height:0;
    
            img {
                width: 226px;
                height: auto;
            }
        }
        .mobilenav {
    
            a {
                display: block;
    
                &+a {
                    margin-left: 1rem;
                }
                img {
                    max-height: 40px;
                }
            }
    
        }
    }
    @media (max-width: 959px) {
        #brand,
        .main-header-sub {
            width: 100%;
        }
        .sidenav-toggle.mat-button {
            min-width: 0;
            margin-right: .5rem;
        }
        .sidenav-toggle.mat-button img {
            height: 32px;
        }
        #brand {
            .mobilenav {
                a {
                    line-height: 0;
                }
            }
        }
    }
    @media (max-width: 599px) {
        #brand {
            .logo {
                img {
                    max-width: 35vw;
                }
            }
        }
        #brand .mobilenav a img {
            max-height: 8vw;
        }
    }
    @media (min-width: 600px) {
        #brand {
            margin-bottom: 1rem;
        }
    }
    @media (min-width: 960px) {
        #brand {
            margin-bottom: 0;
        }
    }

    .cart-items-count{
        position: absolute;
        top: -3px;
        left: 26px;
        background: #f44336;
        height: 18px;
        width: 18px;
        line-height: 18px;
        border-radius: 50%;
        font-size: 11px;
    }

    .shopping-cart{
        .ng-fa-icon {
            font-size: 16px;
            margin-left: .25rem;
        }
    }
    
}


#links_city {
    flex: 1 1 100%;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 1rem;
    list-style:none;

    li {

        &.links_city_separator {
            width: 1px;
            background-color: #fff;
        }
        a {
            display: block;
            color: #fff!important;
            text-align: center;
            -webkit-transition: color .3s ease;
            text-decoration: none;
            transition: color .3s ease;

            &:hover,
            &:focus {
                color:#fdc642;
                text-decoration: none;
            }
            span {
                display: block;

                &.link_city_top {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                }
                &.link_city_bottom {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
    }
}

.top-menu-dropdown-content {
    width:200px;
    div {
        cursor: pointer;
        line-height: 27px;
        padding-left: 1rem;
        transition: all .2s ease-in;
        &:hover {
            color: #fdc642;
        }
    }
}

.search-form{
    width: 100%;

    input[type=text]{
        border: 0;
        outline: none;
        padding: 0 1rem;
        border-left: 1px solid #ccc;
    }
    .search-btn{
        border: none;
        width: 40px;
        height: 40px;
        min-width: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        background: #fff !important;
    }
}

#miscnav-container {
    button {
        border: none;
        font-weight: 500;
        font-size: 1.0625rem;
        line-height: 1;
        color: #fff;
        padding: .5rem 0;
    }
    .ng-fa-icon {
        font-size: 1rem;
        margin-left: .25rem;
    }
}