<mat-sidenav-container class="wrapper theme-container">

    <mat-sidenav [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6" (swipeleft)="sidenav.close();sidenavOpened=false;">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="sidenav-header">
            <h3 i18n>Menu</h3>
            <button mat-icon-button class="close" (click)="sidenav.close();sidenavOpened=false;">
                <fa-icon [icon]="['fas', 'times']" size="2x" fixed="true"></fa-icon>
            </button>
        </div>
        <app-sidenav-menu *ngIf="sidenavOpened"></app-sidenav-menu>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout.lt-md="column" fxFlexAlign="center" id="main-header">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" id="brand">
                <a fxFlex.gt-sm="0 0 226px" routerLink="/" class="logo"><img src="assets/images/others/logo_plattetv.svg" alt="PlatteTV"></a>
                <nav fxLayout="row" fxShow fxHide.gt-sm class="mobilenav">
                    <a href="/extrainfo/advies-contact"><img src="assets/images/others/icon_chat.png" alt="Chat"></a>
                    <a href="/extrainfo/winkels-amsterdam-arnhem-breda-doesburg-doetinchem-eindhoven-nijmegen-en-utrecht-885.html"><img src="assets/images/others/icon_locator.png" alt="Locaties"></a>
                    <a href="/winkelwagen" style="position: relative;"><img src="assets/images/others/icon_cart.png" alt="Winkelwagen"><div class="cart-badge" *ngIf="windowSize == 'lt-md' && cart"></div></a>
                </nav>
            </div>
            <div fxFlex="90" fxLayout="row" fxLayout.gt-sm="column" class="main-header-right" ngClass.gt-sm="ml-4">
                <ul *ngIf="windowSize == 'gt-md'" fxFlex fxLayout="row" fxlayoutalign="space-between center" id="links_city">
                    <li class="links_city_amsterdam"><a [routerLink]="['/stores', 'amsterdam']"><span class="link_city_top" i18n>Amsterdam</span><span class="link_city_bottom" i18n>020 226 5700</span></a></li>
                    <li class="links_city_separator"></li>
                    <li class="links_city_arnhem"><a [routerLink]="['/stores', 'arnhem']"><span class="link_city_top" i18n>Arnhem</span><span class="link_city_bottom" i18n>026 845 4658</span></a></li>
                    <li class="links_city_separator"></li>
                    <li class="links_city_breda"><a [routerLink]="['/stores', 'breda']"><span class="link_city_top" i18n>Breda</span><span class="link_city_bottom" i18n>076 711 2848</span></a></li>
                    <li class="links_city_separator"></li>
                    <li class="links_city_doetinchem"><a [routerLink]="['/stores', 'doetinchem']"><span class="link_city_top" i18n>Doetinchem</span><span class="link_city_bottom" i18n>0314 711 112</span></a></li>
                    <li class="links_city_separator"></li>
                    <li class="links_city_eindhoven"><a [routerLink]="['/stores', 'eindhoven']"><span class="link_city_top" i18n>Eindhoven</span><span class="link_city_bottom" i18n>040 200 11 22</span></a></li>
                    <li class="links_city_separator"></li>
                    <li class="links_city_nijmegen"><a [routerLink]="['/stores', 'nijmegen']"><span class="link_city_top" i18n>Nijmegen</span><span class="link_city_bottom" i18n>024 323 0116</span></a></li>
                    <li class="links_city_separator"></li>
                    <li class="links_city_utrecht"><a [routerLink]="['/stores', 'utrecht']"><span class="link_city_top" i18n>Utrecht</span><span class="link_city_bottom" i18n>030 310 1045</span></a></li>
                </ul>
                <div fxFlex fxLayout="row nowrap" fxFlexOffset.gt-sm="0" class="main-header-sub">
                    <button fxFlex="0 0 40px" *ngIf="windowSize == 'lt-md'" mat-button (click)="sidenav.toggle();sidenavOpened = !sidenavOpened;" class="sidenav-toggle" aria-label="sidenav-toggle">
                        <img src="/assets/images/others/icon_bar.png">
                    </button>
                    <form method="get" class="search-form" fxLayout="row" ngClass.gt-sm="pr-5" (ngSubmit)="search($event)">
                        <input type="text" i18n-placeholder placeholder="Type keyword..." name="search_key" [ngModel]="keyword" (keyup)="searchTerm.next($event)" fxFlex aria-label="search_key" autocomplete="off">
                        <button mat-button type="submit" class="search-btn mat-elevation-z0 text-muted" aria-label="search-btn">
                            <fa-icon [icon]="['fas', 'search']"></fa-icon>
                        </button>
                    </form>
                    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="windowSize == 'gt-md'" id="miscnav-container">
                        <button mat-button [matMenuTriggerFor]="cartMenu" #cartMenuTrigger="matMenuTrigger" class="flex-row-button">
                            SERVICE <fa-icon [icon]="['fas', 'bars']"></fa-icon>
                        </button>
                        <mat-menu #cartMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="top-menu-dropdown cart-dropdown">
                            <span (mouseleave)="cartMenuTrigger.closeMenu()" class="d-block top-menu-dropdown-content">
                                <div i18n routerLink='/extrainfo/advies-contact'>Contact</div>
                                <div i18n [routerLink]="['/extrainfo', 'advies-contact', 'klantenservice']">Customer Service</div>
                                <div i18n>Order Status</div>
                                <div i18n [routerLink]="['/extrainfo', 'installatie-op-maat-learning-center']">Learning Center</div>
                                <div i18n [routerLink]="['/extrainfo', 'zakelijk']">For Business</div>
                                <div i18n [routerLink]="['/extrainfo', 'vacatures']">Vacancies</div>
                            </span>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar fxFlex fxLayoutAlign="space-around center" class="usp-list usp-list-header" ngClass.xs="px-2" ngClass.gt-xs="px-4" ngClass.gt-md="px-5">
        <div fxHide.lt-md class="mr-4"><a href="https://www.plattetv.nl/" i18n><strong>The TV-store of the Netherlands</strong></a></div>
        <div class="usp-list-item mr-4"><a routerLink="/extrainfo/advies-contact"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon><ng-container i18n>8 locations</ng-container></a></div>
        <div fxHide.lt-md class="usp-list-item mr-4"><a routerLink="/extrainfo/installatie-op-maat-learning-center"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon><ng-container i18n>Installation and  en assembly</ng-container></a></div>
        <div class="usp-list-item"><a routerLink="/extrainfo/verzending-en-bezorging"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon><ng-container i18n>Free delivery</ng-container></a></div>
        <div fxFlex="0 0 auto" fxLayoutAlign="start center" fxHide.lt-sm class="review ml-auto"><span class="review--score">9,4</span><span class="review--text"><span class="review--label" i18n>CLIENT REVIEWS</span><br><span class="review--total-reviews"><a href="https://www.kieskeurig.nl/winkels/plattetv/reviews" target="_blank" rel="noreferrer" i18n>20.510 reviews</a></span></span></div>
    </mat-toolbar>
    <app-menu *ngIf="windowSize =='gt-md' && categories.length" [allCategories]="categories"></app-menu>

    <div class="theme-container main" ngClass.gt-sm="py-3">
        <app-crumb-path fxHide.lt-md></app-crumb-path>
        <router-outlet></router-outlet>
    </div>

    <app-footer [allCategories]="categories" [allBrands]="brands"></app-footer>

    <div *ngIf="showBackToTop" fxLayout="row" fxLayoutAlign="center center" class="back-to-top transition" (click)="scrollToTop()">
        <fa-icon [icon]="['fas', 'arrow-up']"></fa-icon>
    </div>

</mat-sidenav-container>