<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center" mat-card-title i18n>Account details</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)">
            <mat-form-field class="w-100 mt-2">
                <input matInput i18n-placeholder placeholder="First Name" formControlName="firstName" required>
                <mat-error *ngIf="infoForm.controls.firstName.errors?.required" i18n>First Name is required</mat-error>
                <mat-error *ngIf="infoForm.controls.firstName.hasError('minlength')" i18n>First Name isn't long enough, minimum of 3 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput i18n-placeholder placeholder="Last Name" formControlName="lastName" required>
                <mat-error *ngIf="infoForm.controls.lastName.errors?.required" i18n>Last Name is required</mat-error>
                <mat-error *ngIf="infoForm.controls.lastName.hasError('minlength')" i18n>Last Name isn't long enough, minimum of 3 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput i18n-placeholder placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="infoForm.controls.email.errors?.required" i18n>Email is required</mat-error>
                <mat-error *ngIf="infoForm.controls.email.hasError('invalidEmail')" i18n>Invalid email address</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onInfoFormSubmit(infoForm.value)" i18n>Save</button>
            </div> 
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center" i18n>Password change</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">            
            <mat-form-field class="w-100 mt-2">
                <input matInput i18n-placeholder placeholder="Current Password" formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required" i18n>Current Password is required</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')" i18n>Current Password isn't long enough, minimum of 6 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput i18n-placeholder placeholder="New Password" formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required" i18n>New Password is required</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')" i18n>New Password isn't long enough, minimum of 6 characters</mat-error>
            </mat-form-field> 
            <mat-form-field class="w-100 mt-1">
              <input matInput i18n-placeholder placeholder="Confirm New Password" formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required" i18n>Confirm New Password is required</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')" i18n>Passwords do not match</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onPasswordFormSubmit(passwordForm.value)" i18n>Change</button>
            </div>
        </form>
    </div>
</div> 
