<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>
        <mat-accordion displayMode="flat" multi="true">
            <app-filters-list></app-filters-list>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page-container">
            <div class="stores">
                <strong>{{data.title}}</strong>
                <div class="stores-sentences">
                    <div class="stores-sentence" *ngFor="let sentence of data.sentences">{{sentence}}</div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space start">
                    <div fxFlex="20" fxFlex.sm="25" fxFlex.xs="50" *ngFor="let store of stores" class="stores-individual-store">
                        <div>
                            <img [attr.ix-path]="store.store_image_thumbnail" ix-params='{"auto":"compress"}' [routerLink]="['/stores', store.store_location]" [alt]="store.store_title">
                        </div>
                        <div>
                            <a [routerLink]="['/stores', store.store_location]">{{store.store_title}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>