<div class="controls">
    <button mat-mini-fab color="primary" class="zoom-in" (click)="zoomIn()"><fa-icon [icon]="['fas', 'search-plus']"></fa-icon></button>
    <button mat-mini-fab color="primary" class="zoom-out" (click)="zoomOut()"><fa-icon [icon]="['fas', 'search-minus']"></fa-icon></button>
    <button mat-mini-fab color="warn" class="close" (click)="close()"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
</div>
<div mat-dialog-content>
    <div class="viewer">
        <img [attr.ix-path]="image" ix-params='{"auto":"compress"}' alt="" #zoomImage>
    </div>    
</div>