<mat-chip-list *ngIf="appService.Data.wishList.length == 0">
    <mat-chip color="warn" selected="true">U HEEFT NOG GEEN PRODUCTEN TOEGEVOEGD AAN UW WENSENLIJST.</mat-chip>
</mat-chip-list>

<mat-card *ngIf="appService.Data.wishList?.length > 0" class="p-0">

  <div class="mat-table wishlist-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Product</div>
      <div class="mat-header-cell">Naam</div>
      <div class="mat-header-cell">Prijs</div>
      <div class="mat-header-cell">Beschikbaarheid</div>
      <div class="mat-header-cell">Aantal</div>
      <div class="mat-header-cell">
        <div class="px-1">
          <button mat-raised-button color="warn" (click)="clear()">Leeg lijst</button>
        </div>
      </div>
    </div>
    <div *ngFor="let product of appService.Data.wishList" class="mat-row">
      <div class="mat-cell"><img [src]="product.images[0].small"></div>
      <div class="mat-cell">
        <a [routerLink]="['/products', product.id, product.name]" class="product-name">{{product.name}}</a>
        <p class="text-muted" *ngFor="let attribute of product.attributes; let i=index;">
            <ng-container *ngIf="attribute.selected">
                <span>{{attribute.products_options_name}}:{{getAttributeName(product, i, attribute.selected)}}</span>
            </ng-container>
        </p>
      </div>
      <div class="mat-cell">{{product.newPrice | customCurrency}}</div>
      <div class="mat-cell">{{ (product.availibilityCount > 0) ? 'In stock':'Unavailable'}}</div>
      <div class="mat-cell text-muted">
        <app-controls [product]="product" [type]="'wish'" (onQuantityChange)="saveQuantity($event)"></app-controls>
      </div>
      <div class="mat-cell">
        <div class="p-1">          
          <button mat-mini-fab color="primary" (click)="addToCart(product)" matTooltip="In winkelwagen">
              <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="remove(product)" matTooltip="Verwijder" class="remove">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      
    </div>
  </div>

</mat-card>