<mat-chip-list *ngIf="appService.Data.wishList.length == 0">
    <mat-chip color="warn" selected="true" i18n>YOU HAVE NO ITEMS IN WISH LIST.</mat-chip>
</mat-chip-list>

<mat-card *ngIf="appService.Data.wishList?.length > 0" class="p-0">

  <div class="mat-table wishlist-table">
    <div class="mat-header-row">
      <div class="mat-header-cell" i18n>Product</div>
      <div class="mat-header-cell" i18n>Name</div>
      <div class="mat-header-cell" i18n>Price</div>
      <div class="mat-header-cell" i18n>Availability</div>
      <div class="mat-header-cell" i18n>Quantity</div>
      <div class="mat-header-cell">
        <div class="px-1">
          <button mat-raised-button color="warn" (click)="clear()" i18n>Clear All</button>
        </div>
      </div>
    </div>
    <div *ngFor="let product of appService.Data.wishList" class="mat-row">
      <div class="mat-cell"><img [src]="product.images[0].small"></div>
      <div class="mat-cell">
        <a [routerLink]="['/products', product.id, product.name]" class="product-name">{{product.name}}</a>
        <p class="text-muted" *ngFor="let attribute of product.attributes; let i=index;">
            <ng-container *ngIf="attribute.selected">
                <span>{{attribute.products_options_name}}:{{getAttributeName(product, i, attribute.selected)}}</span>
            </ng-container>
        </p>
      </div>
      <div class="mat-cell">{{product.newPrice | customCurrency}}</div>
      <div class="mat-cell">{{ (product.availibilityCount > 0) ? 'In stock':'Unavailable'}}</div>
      <div class="mat-cell text-muted">
        <app-controls [product]="product" [type]="'wish'" (onQuantityChange)="saveQuantity($event)"></app-controls>
      </div>
      <div class="mat-cell">
        <div class="p-1">   
       <span class="cdk-visually-hidden" #translatedTooltipMessage i18n>Add to cart</span>
          <button mat-mini-fab color="primary" (click)="addToCart(product)"  [matTooltip]="translatedTooltipMessage.innerHTML">
              <mat-icon>add_shopping_cart</mat-icon>
          </button>
<span class="cdk-visually-hidden" #translatedTooltipMessage1 i18n>Clear</span>
          <button mat-mini-fab color="warn" (click)="remove(product)"  [matTooltip]="translatedTooltipMessage1.innerHTML" class="remove">
              <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      
    </div>
  </div>

</mat-card>