footer {
    .mat-toolbar .mat-toolbar-row {
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .collapse-menu {
        background-color: #212126;
    }

    .mat-expansion-panel {
        margin: 8px;
        background-color: #e6e6dc;
    }

    .mat-expansion-panel-header-title {
        font-size: 1rem;
        color: #212226;
        font-family: inherit;
        font-weight: 400;
    }

    .mat-expansion-panel-header {
        padding: 0 12px;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0px;
    }

    ul.panel-content {
        background-color: white;
        list-style-type: none;

        li {
            border-bottom: 1px solid #b6b6b7;
            padding: .375rem .75rem;
            font-size: 1rem;
            color: #212226;

            a.nav-link {
                color: #212226;
            }
        }
    }
}


.footer-info {
    background-color: #e6e6dc;
    a {
        color: #212126;
    }
    &--representative > a{
        display: block;
        width: 167px;
        height: 204px;
        background: url(/assets/images/others/footer_tim.png) right top no-repeat;
    }
    @media (max-width:959px) {
        & {
            background-color: #212126;
            color: #fff;
        }
        a {
            color: #fff;
        }
        &--representative > a{
            display: block;
            width: 100%;
            height: auto;
            background: none;
        }
    }

    &--text {
        white-space: normal;
        @media (max-width:959px) {
            a {
                color: #fdc642;
            }
        }
        strong {
            display:inline-block;
            font-weight:bold;
            font-size:20px;
            line-height:20px;
            font-family:"Gotham Condensed Bold";
            margin-bottom:3px;
        }
    }

    &--contact {

        &-list{
            ul {
                list-style:none;
                &:before, &:after {
                    clear:both;
                    display:table;
                    content:"";
                }

                >li {
                    margin-top: 1.25rem;

                    span {
                        &:first-child {
                            float:left;
                            width:32px;
                            height:32px;
                            background:#fff;
                            font-size:18px;
                            line-height:32px;
                            text-align:center;
                            border-radius:50%;
                            margin-right:10px;
                            vertical-align:middle;
                            @media (max-width: 959px) {
                                .ng-fa-icon {
                                    color: #212126;
                                }
                            }
                        }
                        &:last-child {
                            strong {
                                display: block;
                                font-weight: bold;
                                font-size: 1.125rem;
                                font-family: "Gotham Condensed Bold";
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                > li.footer_cs_close:not(.footer-info--email) { pointer-events:none; cursor:default; opacity:.5; }
            }
        }
    }

    &--newsletter {
        white-space: normal;

        input[type="text"] {
            width:100%;
            height:32px;
            border:1px solid #8f8f8f;
            margin-bottom:10px;
            padding:0 10px;
        }
        button[type="submit"] { 
            width:100%;
            height:32px;
            border:none;
            background:#fbbb34 url(/assets/images/others/icons-circle-arrow-space.png.png) right center no-repeat;
            font-weight:500;
            font-family:"Poppins";
            text-align:left;
            margin-bottom:20px;
            padding:0 10px;
            cursor:pointer;

            &:hover {
                background-color:#212226;
                color:#fff;
            }
        }

        .footer-info--text {
            font-size:12px;
            margin-bottom:5px;
        }
    }
}

.footer-info--contact-list {
    ul {
        margin-bottom: 0;
    }
}
@media (max-width:959px) {
    .footer-info--contact-list ul > li { float:none; width:100%; }
}

footer .mat-toolbar.footer-nav {
    background-color:#212226!important;

    strong {
        display: block;
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-family: "Gotham Condensed Bold";
        color: #fff;
        margin-bottom: .5rem;
    }
    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
            line-height: 1.5rem;

            a {
                color:#fff;
            }
        }
    }
}

footer .mat-toolbar.footer-payment {
    background-color:#fff!important;
    a {
        color: #212126;
    }
    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding-left:.5rem;
            padding-right: .5rem;
        }
    }
    .extra-footer-menu-wrapper {
        margin-bottom: .5rem;
    }
}



.footer{
    min-height: 100px;
    .mat-toolbar.usp-list {
        background-color: #fff!important;
    }
    .subscribe-block{
        padding: 16px 0 32px 0;
        text-align: center;
        h1, h3{
            line-height: 1;
        }
        h1{
            margin-bottom: 6px;
        }
        .subscribe-search-form{
            height: 50px;
            padding: 0 16px;
            input[type=text]{
                border: 0;
                outline: none;
                padding: 0 25px;
                font-size: 16px;
            }
            button{
                font-size: 16px;
                padding: 0 24px;
                border-radius: 0;
            }
        }
    }
    .col-title{
        font-weight: 600;
    }
    .mat-icon{
        height: 21px;
        line-height: 21px;
    }
    .link{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .copyright{
        font-size: 13px;
        font-weight: 300;
    }
}

@media (max-width: 575px) {
    .footer .subscribe-block{
        .subscribe-search-form{
            height: 40px;
            margin-top: 16px;
            input[type=text]{
                padding: 0 8px;
                font-size: 14px;
            }
            button{
                font-size: 14px;
                padding: 0 16px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .footer .subscribe-block{
        .subscribe-search-form{
            margin-top: 16px;
        }
    }
}

.sebm-google-map-container {
    height: 220px;
}