footer {
    .mat-toolbar.footer-info {
        background-color:#e6e6dc!important
    }

    .mat-toolbar .mat-toolbar-row {
        height: auto;
    }
}


.footer-info {
    background-color: #e6e6dc;

    &--representative > a{
        display:block;
        width:167px;
        height:204px;
        background:url(/assets/images/others/footer_tim.png) right top no-repeat;
    }

    &--text {
        font-size:12.6px;
        white-space:nowrap;

        strong {
            display:inline-block;
            font-weight:bold;
            font-size:20px;
            line-height:20px;
            font-family:"Gotham Condensed";
            margin-bottom:3px;
        }
    }

    &--contact {
        padding-top: 23px;
        &-list{
            ul {
                list-style:none;
                &:before, &:after {
                    clear:both;
                    display:table;
                    content:"";
                }

                >li {
                    float:left;
                    width:50%;
                    margin-top:20px;

                    span {
                        &:first-child {
                            float:left;
                            width:32px;
                            height:32px;
                            background:#fff;
                            font-size:18px;
                            line-height:32px;
                            text-align:center;
                            border-radius:50%;
                            margin-right:10px;
                            vertical-align:middle;
                        }
                        &:last-child {
                            strong {
                                display: block;
                                font-size:18px;
                                font-family:"Gotham Condensed";
                            }
                        }
                    }

                    a:hover {
                        text-decoration: none;
                        strong {
                            text-decoration: underline;
                        }
                    }
                }

                > li.footer_cs_close:not(.footer-info--email) { pointer-events:none; cursor:default; opacity:.5; }
            }
        }
    }

    &--newsletter {
        padding-top:23px;
        input[type="text"] {
            width:100%;
            height:32px;
            border:1px solid #8f8f8f;
            margin-bottom:10px;
            padding:0 10px;
        }
        button[type="submit"] { 
            width:100%;
            height:32px;
            border:none;
            background:#fbbb34 url(/assets/images/others/icons-circle-arrow-space.png.png) right center no-repeat;
            font-weight:500;
            font-family:"Poppins";
            text-align:left;
            margin-bottom:20px;
            padding:0 10px;
            cursor:pointer;

            &:hover {
                background-color:#212226;
                color:#fff;
            }
        }

        .footer-info--text {
            font-size:12px; margin-bottom:5px;
        }
    }

    &--social-media {

    }
}

@media (max-width:959px) {
    .footer-info--contact-list ul > li { float:none; width:100%; }
}

footer .mat-toolbar.footer-nav {
    background-color:#212226!important;
    padding-top: 2rem;
    padding-bottom: 2rem;

    strong {
        display: block;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.375rem;
        font-family: "Gotham Condensed";
        color: #fff!important;
        margin-bottom: 5px;
    }
    ul {
        list-style:none;

        li {
            line-height: 1.375rem;

            a {
                color:#fff!important;
            }
        }
    }
}

footer .mat-toolbar.footer-payment {
    background-color:#fff!important;
    padding-top: 1rem;
    padding-bottom: 1rem;

    ul {
        list-style: none;
        margin-bottom: 1rem;

        li {
            padding-left:.5rem;
            padding-right: .5rem;
        }
    }
    .extra-footer-menu-wrapper {
        margin-bottom: .5rem;
    }
}



.footer{
    min-height: 100px;


    .subscribe-block{
        padding: 16px 0 32px 0;
        text-align: center;
        h1, h3{
            line-height: 1;
        }
        h1{
            margin-bottom: 6px;
        }
        .subscribe-search-form{
            height: 50px;
            padding: 0 16px;
            input[type=text]{
                border: 0;
                outline: none;
                padding: 0 25px;
                font-size: 16px;
            }
            button{
                font-size: 16px;
                padding: 0 24px;
                border-radius: 0;
            }
        }
    }
    .col-title{
        font-weight: 600;
    }
    .mat-icon{
        height: 21px;
        line-height: 21px;
    }
    .link{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .copyright{
        font-size: 13px;
        font-weight: 300;
    }
}

@media (max-width: 575px) {
    .footer .subscribe-block{
        .subscribe-search-form{
            height: 40px;
            margin-top: 16px;
            input[type=text]{
                padding: 0 8px;
                font-size: 14px;
            }
            button{
                font-size: 14px;
                padding: 0 16px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {    
    .footer .subscribe-block{
        .subscribe-search-form{
            margin-top: 16px;
        }
    }
}

.sebm-google-map-container {
    height: 220px;
}