<footer class="bg-primary footer">
    <mat-toolbar fxFlex fxLayoutAlign="space-around center" class="usp-list usp-list-footer" ngClass.xs="px-2" ngClass.gt-xs="px-4" ngClass.gt-md="px-5">
        <div fxHide.lt-md class="mr-4"><a href="https://www.plattetv.nl/" i18n><strong>The TV-store of the Netherlands</strong></a></div>
        <div class="usp-list-item mr-4"><a routerLink="/extrainfo/advies-contact"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon><ng-container i18n>8 locations</ng-container></a></div>
        <div fxHide.lt-md class="usp-list-item mr-4"><a routerLink="/extrainfo/installatie-op-maat-learning-center"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon><ng-container i18n>Installation and  en assembly</ng-container></a></div>
        <div class="usp-list-item"><a routerLink="/extrainfo/verzending-en-bezorging"><fa-icon [icon]="['fas', 'check-circle']"></fa-icon><ng-container i18n>Free delivery</ng-container></a></div>
        <div fxFlex="0 0 auto" fxLayoutAlign="start center" fxHide.lt-sm class="review ml-auto"><span class="review--score">9,4</span><span class="review--text"><span class="review--label" i18n>CLIENT REVIEWS</span><br><span class="review--total-reviews"><a href="https://www.kieskeurig.nl/winkels/plattetv/reviews" target="_blank" rel="noreferrer" i18n>20.510 reviews</a></span></span></div>
    </mat-toolbar>

    <div *ngIf="windowSize == 'lt-md'" class="collapse-menu">
        <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                <mat-panel-title>
                    Service
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="panel-content">
                <li><a class="nav-link" href="/extrainfo/advies-contact-2316.html">Contact</a></li>
                <li><a class="nav-link" href="/extrainfo/advies-contact-2316.html#klantenservice">Klantenservice</a></li>
                <li><a class="nav-link" href="/bestelstatus">Bestelstatus</a></li>
                <li><a class="nav-link" href="/extrainfo/learning-center-1756.html">Learning Center</a></li>
                <li><a class="nav-link" href="/extrainfo/zakelijk-2019.html">Zakelijk</a></li>
                <li><a class="nav-link" href="/extrainfo/vacatures-2320.html">Vacatures</a></li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                <mat-panel-title>
                    Beeldformaten
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="panel-content">
                <li><a class="nav-link" href="/categorie/alle-tvs-894.html#cat=894&so=1&pr=0-15000&op=38:8720;8317;8329;8353;8672;8355;8325;8351&page=1">70 inch en groter</a></li>
                <li><a class="nav-link" href="/categorie/alle-tvs-894.html#cat=894&so=1&pr=0-15000&op=38:8306;8334;8313;8315&page=1">55 t/m 65 inch</a></li>
                <li><a class="nav-link" href="/categorie/alle-tvs-894.html#cat=894&so=1&pr=0-15000&op=38:8281;8288;8303;8332&page=1">40 t/m 50 inch</a></li>
                <li><a class="nav-link" href="/categorie/alle-tvs-894.html#cat=894&so=1&pr=0-15000&op=38:8341;8271;8273;8275&page=1">32 inch en kleiner</a></li>
                <li><a class="nav-link" href="/categorie/alle-tvs-894.html">Alle TV's</a></li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                <mat-panel-title>
                    Categorieën
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="panel-content">
                <li *ngFor="let category of categories">
                    <a class="transition nav-link" [routerLink]="[ category.permalink ]"
                       routerLinkActive="horizontal-active-link"
                       [routerLinkActiveOptions]="{exact:false}">{{category.name}}</a>
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                <mat-panel-title>
                    Merken
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="panel-content">
                <li *ngFor="let brand of brands">
                    <a class="transition nav-link" [routerLink]="[ brand['permalink'] ]"
                       routerLinkActive="horizontal-active-link"
                       [routerLinkActiveOptions]="{exact:false}">{{brand['name']}}</a>
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                <mat-panel-title>
                    Accessoires
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="panel-content">
                <li><a class="nav-link" href="/categorie/muurbeugels-133.html">Muurbeugels</a></li>
                <li><a class="nav-link" href="/categorie/afstandsbedieningen-274.html">Afstandsbedieningen</a></li>
                <li><a class="nav-link" href="/categorie/aansluitkabels-236.html">Aansluitkabels</a></li>
                <li><a class="nav-link" href="/categorie/accessoires-195.html">Alle accessoires</a></li>
            </ul>
        </mat-expansion-panel>

    </div>

    <mat-toolbar class="footer-info" ngClass.xs="px-2" ngClass.gt-xs="px-4" ngClass.gt-md="px-5">
        <mat-toolbar-row fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center flex-start">
            <div fxFlexOrder.lt-md="2" class="footer-info--representative" ngClass.md="mr-4" ngClass.gt-md="mr-5">
                <a href="#"><img src="/assets/images/others/footer_tim_logo.png" class="img-fluid px-4" fxHide.gt-sm></a>
            </div>
            <div fxFlex="100" fxFlexOrder.lt-md="0" class="footer-info--contact mt-3" ngClass.lt-md="w-100 mt-4 mb-4">
                <div class="footer-info--text" ngClass.gt-sm="text-nowrap">
                    <strong i18n>NEED HELP?</strong><br>
                    <a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html" i18n>Customer service today open till 21:00</a>
                </div>
                <div class="footer-info--contact-list">
                    <ul fxFlex fxLayout="row wrap">
                        <li fxFlex="100" fxFlex.gt-xs="50">
                            <a href="https://www.plattetv.nl/">
                                <span>
                                    <fa-icon [icon]="['far', 'comment']"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>CHAT LIVE</strong>
                                    <ng-container i18n>Reply within 30 sec.</ng-container>
                                </span>
                            </a>
                        </li>
                        <li  fxFlex="100" fxFlex.gt-xs="50">
                            <a href="https://www.plattetv.nl/extrainfo/contact-formulier-2557.html?popup=true" class="popupCMS">
                                <span>
                                    <fa-icon [icon]="['far','envelope']"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>Insert Form</strong>
                                    <ng-container i18n>Reply within 10 min.</ng-container>
                                </span>
                            </a>
                        </li>
                        <li fxFlex="100" fxFlex.gt-xs="50">
                            <a href="https://api.whatsapp.com/send?phone=31633444433">
                                <span>
                                    <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>WHATSAPP US</strong>
                                    <ng-container i18n>Reply within 30 sec.</ng-container>
                                </span>
                            </a>
                        </li>
                        <li fxFlex="100" fxFlex.gt-xs="50">
                            <a href="tel:0268454658">
                                <span>
                                    <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>CALL 026 - 84 54 658</strong>
                                    <ng-container i18n>Direct reply</ng-container>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div fxFlex fxLayout="column" fxFlexOrder.lt-md="1" class="footer-info--newsletter" ngClass.lt-md="w-100 mb-4" ngClass.gt-sm="mt-3 mb-0">
                <div class="footer-info--text" ngClass.gt-sm="text-nowrap">
                    <strong i18n>SUBSCRIBE NEWSLETTER</strong><br i18n>
                    Don't miss any specials, news and bonuses
                </div>
                <form method="get" class="subscribe-search-form" fxLayout="column">
                    <input type="text"  i18n-placeholder placeholder="Email" fxFlex aria-label="Email">
                    <button mat-raised-button color="accent" (click)="subscribe()" type="button" class="mat-elevation-z0 text-left text-muted" i18n>Yes, I sign me up</button>
                </form>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar fxFlex fxLayout="row" fxLayoutAlign="start start" class="footer-nav h-auto" fxHide.lt-md ngClass.md="p-4" ngClass.gt-md="p-5">
        <div fxFlex="50">
            <strong i18n>BVBMedia</strong>
            <ul>
                <li>
                    <a routerLink="/extrainfo/advies-contact" i18n>Contact</a>
                </li>
                <li>
                    <a routerLink="/extrainfo/advies-contact/klantenservice" i18n>Customer service</a>
                </li>
                <li>
                    <a href="https://www.plattetv.nl/bestelstatus" i18n>Order status</a>
                </li>
                <li>
                    <a routerLink="/extrainfo/installatie-op-maat-learning-center" i18n>Learning Center</a>
                </li>
                <li>
                    <a routerLink="/extrainfo/zakelijk" i18n>Business</a>
                </li>
                <li>
                    <a routerLink="/extrainfo/vacature" i18n>Applicants</a>
                </li>
            </ul>
        </div>
        <div fxFlex="50">
            <strong i18n>Our stores</strong>
            <ul>
                <li *ngFor="let store of stores">
                    <a [routerLink]="store.link">{{store.name}}</a>
                </li>
            </ul>
        </div>
        <div fxFlex="50">
            <strong i18n>Popular categories</strong>
            <ul>
                <li *ngFor="let category of popular_categories">
                    <a [routerLink]="[category.link]">{{category.name}}</a>
                </li>
            </ul>
        </div>
        <div fxFlex="50">
            <strong i18n>Popular brands</strong>
            <ul>
                <li *ngFor="let brand of popular_brands">
                    <a [href]="brand.link">{{brand.name}}</a>
                </li>
            </ul>
        </div>
    </mat-toolbar>
    <mat-toolbar fxFlex fxLayout="column" fxLayoutAlign="start center" class="footer-payment h-auto p-4" fxHide.lt-md>
        <ul fxLayout="row" fxLayoutAlign="center center">
            <li lazy-load-images *ngFor="let payment of payments">
                <img [attr.data-src]="payment.img" [alt]="payment.alt">
            </li>
        </ul>
        <p class="extra-footer-menu-wrapper"><a href="#" i18n>General conditions</a> | <a href="#" i18n>Privacy</a> | <a href="#" i18n>Cookies</a></p>
        <p class="mb-0" i18n>All prices are incl. VAT</p>
    </mat-toolbar>
</footer>
