<footer class="bg-primary footer">
    <mat-toolbar class="usp-list top-usp-list" fxLayoutAlign="flex-start center" fxShow="false" fxShow.gt-sm>
        <mat-toolbar-row class="theme-container" fxLayoutAlign="flex-start center">
            <div><a href="https://www.plattetv.nl/" i18n>The TV-store of the Netherlands</a></div>
            <div><a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html#winkels"><fa-icon [icon]="'check-circle'"></fa-icon><ng-container i18n>8 locations</ng-container></a></div>
            <div><a href="https://www.plattetv.nl/extrainfo/installatie-op-maat-learning-center-1864.html"><fa-icon [icon]="'check-circle'"></fa-icon><ng-container i18n>Installation and  en assembly</ng-container></a></div>
            <div><a href="https://www.plattetv.nl/extrainfo/verzending-en-bezorging-109.html#gratisbezorgen"><fa-icon [icon]="'check-circle'"></fa-icon><ng-container i18n>Free delivery</ng-container></a></div>
            <div class="review"><span class="review--score">9,4</span><span class="review--text"><span class="review--label" i18n>CLIENT REVIEWS</span><br><span class="review--total-reviews"><a href="https://www.kieskeurig.nl/winkels/plattetv/reviews" target="_blank" rel="noreferrer" i18n>20.510 reviews</a></span></span></div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="footer-info" ngClass="px-2" ngClass.md="px-md-4" ngClass.gt-md="px-xl-5">
        <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="center flex-start"  ngClass="px-2" ngClass.md="px-md-4" ngClass.gt-md="px-xl-5">
            <div fxFlex="100" class="footer-info--representative" fxFlex.gt-sm="20" fxHide.lt-md>
                <a href="#" fxFlex="100"></a>
            </div>
            <div fxFlex="100" class="footer-info--contact" fxFlex.sm="60" fxFlex.gt-sm="45" ngClass.sm="mb-2">
                <div class="footer-info--text">
                    <strong i18n>NEED HELP?</strong><br>
                    <a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html" i18n>Customer service today open till 21:00</a>
                </div>
                <div class="footer-info--contact-list">
                    <ul>
                        <li>
                            <a href="https://www.plattetv.nl/">
                                <span>
                                    <fa-icon [icon]="'comment'"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>CHAT LIVE</strong>
                                    <ng-container i18n>Reply within 30 sec.</ng-container>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.plattetv.nl/extrainfo/contact-formulier-2557.html?popup=true" class="popupCMS">
                                <span>
                                    <fa-icon [icon]="'envelope'"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>Insert Form</strong>
                                    <ng-container i18n>Reply within 10 min.</ng-container>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=31633444433">
                                <span>
                                    <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>WHATSAPP US</strong>
                                    <ng-container i18n>Reply within 30 sec.</ng-container>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:0268454658">
                                <span>
                                    <fa-icon [icon]="'phone'"></fa-icon>
                                </span>
                                <span>
                                    <strong i18n>CALL 026 - 84 54 658</strong>
                                    <ng-container i18n>Direct reply</ng-container>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div fxFlex="100" class="footer-info--newsletter" fxFlex.sm="40" fxFlex.gt-sm="35" ngClass.lt-lg="mb-2">
                <div fxLayout="column">
                    <div class="footer-info--text">
                        <strong i18n>SUBSCRIBE NEWSLETTER</strong><br i18n>
                        Don't miss any specials, news and bonuses
                    </div>
                    <form method="get" class="subscribe-search-form" fxLayout="column">
                        <input type="text"  i18n-placeholder placeholder="Email" fxFlex aria-label="Email">
                        <button mat-raised-button color="accent" (click)="subscribe()" type="button" class="mat-elevation-z0 text-muted" i18n>Yes, I sign me up</button>
                    </form>
                </div>
            </div>  
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="footer-nav">
        <mat-toolbar-row class="theme-container" fxLayout="row wrap" fxLayoutAlign="center flex-start">
            <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" ngClass.lt-md="mb-2">
                <strong i18n>BVBMedia</strong>
                <ul>
                    <li>
                        <a href="/extrainfo/advies-contact" i18n>Contact</a>
                    </li>
                    <li>
                        <a href="/extrainfo/advies-contact/klantenservice" i18n>Customer service</a>
                    </li>
                    <li>
                        <a href="https://www.plattetv.nl/bestelstatus" i18n>Order status</a>
                    </li>
                    <li>
                        <a href="/extrainfo/learning-center" i18n>Learning Center</a>
                    </li>
                    <li>
                        <a href="/extrainfo/zakelijk" i18n>Business</a>
                    </li>
                    <li>
                        <a href="/extrainfo/vacature" i18n>Applicants</a>
                    </li>
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" ngClass.lt-md="mb-2">
                <strong i18n>Our stores</strong>
                <ul>
                    <li *ngFor="let store of stores">
                        <a [routerLink]="store.link">{{store.name}}</a>
                    </li>
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25" ngClass.lt-sm="mb-2">
                <strong i18n>Popular categories</strong>
                <ul>
                    <li *ngFor="let category of categories">
                        <a [routerLink]="[category.link]">{{category.name}}</a>
                    </li>
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="25">
                <strong i18n>Popular brands</strong>
                <ul>
                    <li *ngFor="let brand of brands">
                        <a [href]="brand.link">{{brand.name}}</a>
                    </li>
                </ul>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-toolbar class="footer-payment">
        <mat-toolbar-row class="theme-container" fxLayout="column" fxLayoutAlign="flex-start center">
            <ul fxLayout="row wrap" fxLayoutAlign="center center">
                <li lazy-load-images *ngFor="let payment of payments">
                    <img [attr.data-src]="payment.img" [alt]="payment.alt">
                </li>
            </ul>
            <p class="extra-footer-menu-wrapper"><a href="#" i18n>General conditions</a> | <a href="#" i18n>Privacy</a> | <a href="#" i18n>Cookies</a></p>
            <p i18n>All prices are incl. VAT</p>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>
