<div fxLayout="row" *ngIf="product">

    <div fxFlex="100" fxFlex.gt-md="80" fxLayout="column">

            <div fxLayout="row" fxLayout.lt-md="column">

                <div fxFlex="100" fxFlex.gt-md="70" fxFlex.md="65">

                    <h2 class="product-detail-title">{{product?.name}}</h2>
                    <div class="mb-2">
                        <app-rating [ratingsCount]="product?.ratingsCount" [ratingsValue]="product?.ratingsValue" [direction]="'row'"></app-rating>
                    </div>

                    <mat-card class="product-image">
                        <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
                        <ng-container *ngIf="selectedImage">
                            <div *ngIf="product?.specialLabel" class="product-item-image-speciallabel">
                                {{product.specialLabel}}
                            </div>
                            <img 
                                *ngIf="selectedImage.have_image"
                                [src]="image"
                                (mousemove)="onMouseMove($event)"
                                (mouseleave)="onMouseLeave($event)"/>
                            <img *ngIf="!selectedImage.have_image" [src]="image" class="no-product-image">
                        </ng-container>
                    </mat-card>

                    <div class="small-carousel" *ngIf="product">
                        <div class="swiper-container" [swiper]="config">
                            <div class="swiper-wrapper">
                                <div *ngFor="let image of product?.images" class="swiper-slide">
                                    <mat-card (click)="selectImage(image)" class="p-1">
                                        <span *ngIf="image.have_image">
                                            <img [src]="image.small" class="swiper-lazy"/>
                                        </span>
                                    </mat-card>
                                </div>
                            </div>
                            <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                            <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
                        </div>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="30" fxFlex.md="35" ngClass.gt-sm="px-3 m-0" ngClass.md="pl-3" ngClass.sm="mt-2" ngClass.xs="mt-2">

                    <h2 class="mb-2 new-price">{{product?.newPrice | customCurrency}}</h2>

                    <div #zoomViewer fxShow="false" fxShow.gt-md>
                        <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18"></mat-card>
                    </div>

                    <!-- <div class="py-1 lh">
                        <p><span class="text-muted fw-500">Category: </span><span>{{ product?.category_name }}</span></p>
                        <p><span class="text-muted fw-500">Availibility: </span><span>{{ (product?.availibilityCount > 0) ? 'In stock':'Unavailable'}}</span></p>
                    </div>
                    <div class="divider mt-1"></div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="details text-muted py-1">
                        <div *ngFor="let attribute of product?.attributes; let i=index;">
                            <ng-container *ngIf="attribute.listtype == 'select'">
                                <mat-form-field>
                                    <mat-select [placeholder]="attribute.products_options_name" (selectionChange)="attributeSelected(i, $event)">
                                        <mat-option *ngFor="let option of attribute.values" [value]="option.products_options_values_id">
                                            {{option.products_options_values_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </div> -->

                    <div fxLayout="column" class="product-detail-control mb-2">
                        <!-- <app-controls [product]="product" [type]="'all'"></app-controls> -->
                        <button class="control-add-to-cart" mat-button *ngIf="product?.availibilityCount > 0" (click)="appService.addToCart(product, 1, true)">In winkelwagen <i class="fas fa fa-shopping-cart"></i></button>
                        <button class="control-normal" mat-button>Afhalen in de winkel <i class="fas fa fa-chevron-circle-right"></i></button>
                        <button class="control-normal" mat-button (click)="requestBestPrice()">Vraag beste prijs aan <i class="fas fa fa-chevron-circle-right"></i></button>
                        <button class="control-deal" mat-button>ZOMERDEAL <i class="fas fa fa-chevron-circle-right"></i></button>
                        <button class="control-normal" mat-button>Actie: Ruil uw TV in <i class="fas fa fa-chevron-circle-right"></i></button>
                    </div>

                    <div class="new-stock-info-wrapper">
                        <div class="bezorg-title">Bezorgvoorraad</div>
                        <div class="new-stock-info-bezorg">
                            <div class="bezorg-cms-title">
                                <p><a href="#"><i class="fas fa fa-circle"></i> Vandaag voor 23:59 besteld, morgen in huis</a></p>
                            </div>
                        </div>
                        <div class="new-stock-info-winkel">
                            <div class="winkel-title">Winkelvoorraad</div>
                            <div class="r-row r-col-2">
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=amsterdam-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Amsterdam</span></a></div>
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=utrecht-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Utrecht</span></a></div>
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=breda-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Breda</span></a></div>
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=arnhem-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Arnhem</span></a></div>
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=doetinchem-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Doetinchem</span></a></div>
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=nijmegen-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Nijmegen</span></a></div>
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=doesburg-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Doesburg</span></a></div>
                                <div class="winkel-branch-city-stock overlib-popup"><i class="fas fa fa-circle"></i> <a href="/pagina_cms?type=eindhoven-voorraadstatus-msg-green" rel="lyteframe" title="Klik voor meer info" rev="width: 640px; height: 480px; scrolling: yes;"><span>Eindhoven</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mt-2">

                <div ngClass.gt-md="pr-3">

                    <!-- <div class="shortdesc"><p class="py-1 text-muted lh" [innerHTML]="product?.shortdescription | htmlSanitize"></p></div>

                    <div fxFlex>
                        <mat-card *ngIf="product?.description || product?.extra_description || product?.reviews.length || product?.expertReview">
                            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                                <mat-tab label="Beschrijving" class="mat-tab-beschrijving" *ngIf="product?.description">
                                    <div class="full-desc mat-tab-beschrijving" ngClass.xs="py-2" ngClass.lt-md="p-2">
                                        <p [innerHTML]="product?.description | htmlSanitize"></p>
                                        <p [innerHTML]="product?.featureHighlights | htmlSanitize"></p>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Specificaties" *ngIf="product?.extra_description">
                                    <div class="full-desc mat-tab-specificaties" ngClass.xs="py-2" ngClass.lt-md="p-2">
                                        <p [innerHTML]="product?.extra_description | htmlSanitize"></p>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Reviews" *ngIf="product?.reviews.length">
                                    <div class="full-desc mat-tab-reviews" ngClass.xs="py-2" ngClass.lt-md="p-2">
                                        <div *ngFor="let review of product?.reviews" class="reviews-item">
                                            <p [innerHTML]="review.reviewAuthor | htmlSanitize" class="reviews-item--author"></p>
                                            <p [innerHTML]="review.reviewContent | htmlSanitize" class="reviews-item--content"></p>
                                            <p [innerHTML]="review.reviewMood | htmlSanitize" class="reviews-item--rate"></p>
                                            <p [innerHTML]="review.dateAdded | htmlSanitize" class="reviews-item--date"></p>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Plus- en minpunten" *ngIf="product?.expertReview">
                                    <div class="full-desc mat-tab-plus-en-min" ngClass.xs="py-2" ngClass.lt-md="p-2">
                                        <p [innerHTML]="product?.expertReview | htmlSanitize"></p>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-card>
                    </div> -->
                </div>

            </div>

    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md>

        <div fxLayout="column" class="misc-bar" ngClass.gt-md="m-0">
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                <mat-card class="branch-office">
                    <mat-card-title><h4>Onze Winkels</h4></mat-card-title>
                    <mat-card-content>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a [routerLink]="['/stores/amsterdam']"><img src="https://www.plattetv.nl/var/store_images/amsterdam.png" width="55" height="55"></a></div>
                            <div class="branch_opening_hours">
                                <div class="adbox_opening_times city_name"><a [routerLink]="['/stores/amsterdam']"> <strong>Amsterdam</strong> </a></div>
                                <div class="adbox_opening_times"><a [routerLink]="['/stores/amsterdam']">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a [routerLink]="['/stores/amsterdam']">tot 21:00</a></div>
                            </div>
                        </div>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html"><img src="https://www.plattetv.nl/var/store_images/arnhem.png" width="55" height="55"></a></div>
                            <div class="branch_opening_hours">
                                <div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html"> <strong>Arnhem</strong> </a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html">tot 21:00</a></div>
                            </div>
                        </div>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html"><img src="https://www.plattetv.nl/var/store_images/breda.png" width="55" height="55"></a></div>
                            <div class="branch_opening_hours"><div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html"> <strong>Breda</strong> </a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html">tot 21:00</a></div>
                            </div>
                        </div>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html"><img src="https://www.plattetv.nl/var/store_images/doesburg.png" width="55" height="55"></a></div>
                            <div class="branch_opening_hours">
                                <div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html"> <strong>Doesburg</strong> </a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html">tot 18:00</a></div>
                            </div>
                        </div>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html"><img src="https://www.plattetv.nl/var/store_images/doetinchem.png" width="55" height="55"></a></div>
                            <div class="branch_opening_hours">
                                <div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html"> <strong>Doetinchem</strong> </a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html">tot 18:00</a></div></div>
                        </div>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html"><img src="https://www.plattetv.nl/var/store_images/eindhoven-thumb.jpg" width="55" height="55"></a></div>
                            <div class="branch_opening_hours">
                                <div class="adbox_opening_times city_name"><strong><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html">Eindhoven</a>&nbsp;</strong></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html">tot 18:00</a></div>
                            </div>
                            <div class="image_overlay"><a href="extrainfo/winkel-eindhoven-9.html">nieuw!</a></div>
                        </div>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html"><img src="https://www.plattetv.nl/var/store_images/nijmegen.png" width="55" height="55"></a></div>
                            <div class="branch_opening_hours"><div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html"> <strong>Nijmegen</strong> </a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html">tot 21:00</a></div>
                            </div>
                        </div>
                        <div class="branch_opening_hours_box">
                            <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html"><img src="https://www.plattetv.nl/var/store_images/PlatteTV_Utrecht_vierkant_Thumbnail_Samsung.jpg" width="55" height="55"></a></div>
                            <div class="branch_opening_hours">
                                <div class="adbox_opening_times city_name"><strong><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html">Utrecht</a>&nbsp;</strong></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html">Vandaag open</a></div>
                                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html">tot 21:00</a></div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                <mat-card id="advice-and-contact">
                    <mat-card-title>
                        <h4>ADVIES EN CONTACT</h4>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="adbox_opening_times"><strong> <a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html">Vandaag open</a> </strong></div>
                        <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html">tot 21:00 uur</a></div>
                        <div class="contact_box contact_chat_live"><a onclick="LC_API.open_chat_window(); return false;" href="https://www.plattetv.nl/"> <i class="far fa fa-comment"></i><strong>CHAT LIVE</strong> <span>Reactie binnen 30 sec.</span> </a></div>
                        <div class="contact_box contact_form"><a href="https://www.plattetv.nl/extrainfo/contact-formulier-2557.html?popup=true" class="popupCMS"> <i class="far fa fa-envelope"></i><strong>VUL FORMULIER IN</strong> <span>Reactie binnen 10 min.</span> </a></div>
                        <div class="contact_box contact_whatsapp"><a href="https://api.whatsapp.com/send?phone=31633444433"> <i class="fab fa fa-whatsapp"></i><strong>WHATSAPP ONS</strong> <span>Reactie binnen 30 sec.</span> </a></div>
                        <div class="contact_box contact_bel"><a href="tel:0268454658"> <i class="fas fa fa-phone"></i><strong>BEL 026-84 54 658</strong> <span>Direct reactie</span> </a></div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
            <mat-card id="extra-open">
                <mat-card-title>
                    <h4>EXTRA VOOR U OPEN</h4>
                </mat-card-title>
                <mat-card-content>
                    <div class="extra_open_hours_box">
                        <div class="special_open_time"><span>ZONDAG 2 SEP</span></div>
                        <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-amsterdam-6.html">Amsterdam</a></div>
                        <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-Arnhem-1.html">Arnhem</a></div>
                        <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html">Breda</a></div>
                        <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html">Eindhoven</a></div>
                        <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html">Nijmegen</a></div>
                        <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html">Utrecht</a></div>
                    </div>
                    <div class="city_open_time" style="text-align: center;"><a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html#winkels">open van 12:00 tot 17:00</a></div>
                </mat-card-content>
            </mat-card>
            </div>
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
            <mat-card id="customer-review">
                <mat-card-title>
                    <h4>KLANTENBEOORDELING</h4>
                </mat-card-title>
                <mat-card-content>
                    <div class="reviewbox reviewbox-kieskeurig">
                        <span class="reviewbox--score">9,4</span>
                        <span class="reviewbox--text">
                            <span class="reviewbox--label">Kieskeurig.nl</span>
                            <span class="reviewbox--total-reviews"><a href="https://www.kieskeurig.nl/winkels/plattetv/reviews" rel="noopener" target="_blank">20.510 reviews</a></span>
                        </span>
                    </div>
                    <div class="reviewbox reviewbox-tweakers">
                        <span class="reviewbox--title">Tweakers</span>
                        <span class="reviewbox--star-40"></span>
                        <span class="reviewboox--total-reviews"><a href="https://tweakers.net/shopreview/6924/plattetv/shopreviews/" rel="noopener" target="_blank">234 reviews</a></span>
                    </div>
                    <div class="reviewbox reviewbox-trustpilot">
                        <span class="reviewbox--title">Trustpilot</span>
                        <span class="reviewbox--star-40"></span>
                        <span class="reviewboox--total-reviews"><a href="https://nl.trustpilot.com/review/www.plattetv.nl" rel="noopener" target="_blank">889 reviews</a></span>
                    </div>
                </mat-card-content>
            </mat-card>
            </div>

        </div>

    </div>
</div>



<div class="py-2 mt-2">
    <h2>Bekijk ook eens:</h2>
    <div class="divider"></div>
    <app-products-carousel [products]="relatedProducts"></app-products-carousel>
</div>
