<div *ngIf="widget" class="top-parent">
  <h2 class="mb-2">{{widget.title}}</h2>
  <div class="description p-2 mb-2" [innerHTML]="widget.description | htmlSanitize"></div>
  <div *ngFor="let product of widget.demo_unit_products">
    <h3 class="mb-2">{{product.condition}}</h3>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <img class="p-2 border" [attr.ix-path]="product.images[0].medium" ix-params='{"auto":"compress"}' sizes="(min-width: 768px) 210px, (min-width: 320px) 210px, 100vw" alt="">
      <span [innerHTML]="product.description | htmlSanitize"></span>
    </div>
    <div class="text-right">
      <div>Nieuwprijs {{product.original_price | customCurrency}}</div>
      <h2>{{product.price | customCurrency }}</h2>
    </div>
    <button mat-button (click)="addToCart(product)">
      <ng-container i18n>Add to cart</ng-container> <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
    </button>
  </div>
</div>
