<div class="request-best-price">
  <div class="top-image">
    <img [attr.ix-path]="'images/cmsimages/banners/2017/deal-op-maat.png'" ix-params='{"auto":"compress"}' alt="Request the best price">
  </div>
  <div class="introduction">
    <strong i18n>We like to make a custom deal! </strong>
    <ng-container i18n> Do you want a personal deal? Let us know. We arrange the best deal for you. We arrange the best
      deal for you.
      Of course included full service within the Netherlands and Belgium.</ng-container><br><br>
  </div>
  <div class="form-title">
    <ng-container i18n> Ask for the best price via </ng-container> <a href="/" i18n>LiveChat</a>
    <ng-container i18n> of </ng-container>
    <strong i18n>insert below form:</strong>
  </div>

  <form [formGroup]="requestForm" (ngSubmit)="formSubmit()">
    <div>
      <label class="margin-right-20" i18n>Salutation:</label>
      <mat-radio-group formControlName="salutation">
        <mat-radio-button value="mr" class="margin-right-20" i18n>Mr.</mat-radio-button>
        <mat-radio-button value="mrs" i18n>Ms.</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="w-100 mt-2">

      <input matInput i18n-placeholder placeholder="Your Naam:" formControlName="name" required aria-label="name">
      <mat-error *ngIf="requestForm.controls.name.errors?.required" i18n>Your name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 mt-2">
      <input matInput i18n-placeholder placeholder="E-mail:" formControlName="email" required aria-label="email">
      <mat-error *ngIf="requestForm.controls.email.errors?.required" i18n>E-mail is required</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="allow" i18n>Send me exclusive specials via e-mail.
    </mat-checkbox>

    <mat-form-field class="w-100 mt-2">
      <input matInput i18n-placeholder placeholder="Telephone:" formControlName="phone" required aria-label="phone">
      <mat-error *ngIf="requestForm.controls.phone.errors?.required" i18n>Telephone number is required</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 mt-2">
      <input matInput i18n-placeholder placeholder="City:" formControlName="residence" required aria-label="residence">
    </mat-form-field>

    <mat-form-field class="w-100 mt-2">
      <textarea matInput i18n-placeholder placeholder="From which products you like to receive the best price?:"
        formControlName="description" rows="5" aria-label="description"></textarea>
    </mat-form-field>
  </form>
  <button (click)="formSubmit()" class="control-normal" mat-button i18n>Submit <i class="fas fa fa-chevron-circle-right"></i></button>
</div>