<!-- <div class="page-learning-center">
  <div class="top-section page-section">
    <h1 i18n>LEARNING CENTER</h1>
    <div>
      <img src="https://www.plattetv.nl/var/images/cmsimages/banners/learning-banner.png" alt="Image not arrived">
    </div>
    <div>
      <ng-container i18n>Due to the large number of techniques and the different variations, it is not easy for a consumer to purchase a product that fits you perfectly. </ng-container>
      <br><br>
      <ng-container i18n>PlatteTV.nl is happy to help you make the right choice. On this page you can read tips and advice that are very useful when buying a TV, Home Cinema set, soundbar, wall bracket or other accessories. Terms are explained in a simple way, so that after reading you are completely familiar with the most important concepts.</ng-container>
    </div>
  </div>

  <div class="page-section learning-list">
    <div fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div fxFlex="33" fxFlex.lt-md="49" fxFlex.xs="100" class="learning-list-category" *ngFor="let category of learningList">
        <div class="learning-list-category-title">
          <img [src]="category.image" alt="Image not arrived">
          <span>{{category.title}}</span>
        </div>
        <div class="learning-list-category-courses">
          <ul>
            <li *ngFor="let course of category.courses">
              <a [routerLink]="course.link">{{course.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section learning-contact">
    <ng-container i18n>Do you need more information? Our employees are at your disposal via the LiveChat, e-mail and telephone!</ng-container>
    <div class="pt-3" fxLayout fxLayout.xs="column">
      <a [routerLink]="['']" *ngFor="let contact of contacts" fxFlex>
        <img [src]="contact.image" alt="Image not arrived">
      </a>
    </div>
  </div>
</div> -->

<div *ngFor="let widget of widgets">
  <h1>{{widget?.title}}</h1>
  <div [innerHTML]="widget?.content | htmlSanitize"></div>
</div>