.filter-box{
    margin-bottom: 1rem;
    .filter-box-heading {
        border-bottom: 1px solid #212226;
        margin-bottom: .625rem;
        padding-bottom: 0.375rem;
        h3 {
            font-weight: 700;
            font-size: .875rem;
            line-height: 1.125rem;
            text-transform: uppercase;
            padding-left: 1rem;
        }
    }
    .filter-box-content {
        padding-left: 1rem;
        a {
            color: #212126;
        }
    }
    a.show_more_toggle {
        display: block;
        color: #212126;
        padding-left: 1rem;
    }
}

