.listing-item {
    border: 1px solid #E6E6DC;
    padding: .5rem;

    .product-name {
        display: block;
        overflow: hidden;
        height: 2.25rem;
        font-weight: 700;
        font-size: .9375rem;
        line-height: 1.125rem;
        letter-spacing: 0;
        color: #212126;
        text-transform: uppercase;
        margin-bottom: .25rem;
        padding: 0;
    }
    .product-rating {
        margin-bottom: .625rem;
    }
    @media (max-width: 599px) {
        .product-rating {
            height: 34px;
        }
    }
    .product-feature-highlights {

        padding-left: 20px;

        ul.listing_attribute {
            padding-left: 0;
            margin-bottom: .625rem;
        }
    
        ul.listing_attribute > li {
            overflow: hidden;
            background-image: none;
            font-weight: 500;
            font-size: .75rem;
            line-height: 19px;
            line-height: inherit;
            padding-left: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        ul.listing_attribute > li:before {
            content: "-";
            margin-right: 5px;
        }
    
        ul.listing_attribute > li > a:hover,
        ul.listing_attribute > li > a:focus {
            text-decoration: none;
        }
    }
    
    
    .product-price {
        font-weight: bold;
        line-height: 1;
        font-family: "Gotham Condensed Bold";
        letter-spacing: .02em;
        padding: 0;
        vertical-align: top;
    
        .product-old-price {
            font-size: 18px;
            line-height: 1.4;
            color: #b5b5b5;
            text-decoration: line-through;
            margin-right: 7px;
        }
    
        .product-new-price {
            font-size: 30px;
        }
    
        .only-new-price {
            color: #df0000;
        }
    }
}
