<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>
        <mat-accordion displayMode="flat" multi="true">
            <app-filters-list></app-filters-list>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxLayout="row" fxLayoutAlign="end start">
            <div fxFlex>
              <router-outlet></router-outlet>
            </div>
            <div fxFlex="0 0 187px" fxHide fxShow.gt-md>
                <app-extra-info></app-extra-info>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
