.filter-sidenav {
    overflow: visible!important;
    float: left;
    left: 0;
    width: 75vw;
    padding: 0;
}

@media (min-width:960px) {
    .filter-sidenav {
        position: static;
        width: 187px;
        padding: 0;
    }
}