<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>
        
        <mat-accordion displayMode="flat" multi="true">
            <mat-expansion-panel expanded *ngIf="topParentCategoryId === 0 || topParentCategory.hasSubCategory">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Rubrieken</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="categories-wrapper categories-dropdown" perfectScrollbar>
                    <app-category-list [categories]="categories" [categoryParentId]="topParentCategoryId" [selectedCategory]="categoryId" (change)="onChangeCategory($event)"></app-category-list>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Filter op prijs</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted">
                    <span>Van: <b>{{priceFrom | customCurrency:0:999}}</b></span>
                    <span>Tot: <b>{{priceTo | customCurrency:0:999}}</b></span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="filter-price">
                    <mat-slider color="primary" max="10000" min="1" thumb-label="true" [(ngModel)]="priceFrom" (change)="filterChanged()"></mat-slider>
                    <mat-slider color="warn" max="10000" min="1" thumb-label="true" [(ngModel)]="priceTo" (change)="filterChanged()"></mat-slider>
                </div>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Color</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-buttons">
                    <button 
                        mat-raised-button *ngFor="let color of colors" 
                        [style.background]="color" [ngClass]="{'filter-selected-button': selectedColors.indexOf(color) > -1}"
                        (click)="selectColor(color)">
                        &nbsp;
                    </button>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Size</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-buttons">
                    <button mat-raised-button *ngFor="let size of sizes" [ngClass]="{'filter-selected-button': selectedSizes.indexOf(size) > -1}" (click)="selectSize(size)">{{size}}</button>
                </div>
            </mat-expansion-panel> -->

            <mat-expansion-panel expanded *ngIf="brands.length">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Filter op merk</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column" fxLayoutGap="10px" class="filter-brands">
                   <div *ngFor="let brand of brands">
                       <mat-checkbox (change)="selectBrand(brand)">{{brand.name}}</mat-checkbox>
                   </div>
                </div>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Now starting at $1379</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                   <a [routerLink]="['/products/electronics']"><img src="assets/images/products/probook/2-medium.png" alt="" class="mw-100"></a>
                </div>
            </mat-expansion-panel> -->

        </mat-accordion>

    </mat-sidenav>
    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
            <div>
                <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
                    {{sort}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #sortMenu="matMenu" xPosition="before" class="app-dropdown">
                    <span (mouseleave)="sortMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let sort of sortings" (click)="changeSorting(sort)">
                            <span>{{sort}}</span>
                        </button>
                    </span>
                </mat-menu>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
                    Aantal resultaten: {{count}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #countsMenu="matMenu" xPosition="before" class="app-dropdown">
                    <span (mouseleave)="countsMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
                            <span>{{count}}</span>
                        </button>
                    </span>
                </mat-menu>
                <button mat-icon-button (click)="changeViewType('list', 100)" fxHide.lt-sm>
                    <mat-icon>view_list</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 33.3)" fxHide.lt-sm>
                    <mat-icon>view_module</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 25)" fxHide.lt-sm>
                    <mat-icon>view_comfy</mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">
            <div *ngIf="!products.length" class="text-not-found">
                {{emptyMessage}}
            </div>
            <div *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page, totalItems: totalProducts }" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                <mat-card class="product-item text-center">
                    <mat-chip-list *ngIf="product.discount">
                        <mat-chip color="warn" selected="true">{{product.discount}}% korting</mat-chip>
                    </mat-chip-list>
                    <a [routerLink]="['/products', product.id, product.name]" class="image-link">
                        <img [src]="product.images[0].medium" alt="">
                    </a>
                    <h4 class="category text-muted">{{ product.category_name }}</h4>                                                                     
                    <a [routerLink]="['/products', product.id, product.name]" class="title text-truncate">
                        {{product.name}}
                    </a>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                        <div fxLayout="column" fxLayoutAlign="center start">
                            <p class="old-price text-muted">
                                <span *ngIf="product.oldPrice">{{product.oldPrice | customCurrency}}</span>
                            </p>
                            <p class="new-price">{{product.newPrice | customCurrency}}</p>
                        </div>
                        <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                    </div>                            
                    <div class="divider mt-2"></div>
                    <div class="icons">
                        <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="viewType == 'list'" fxLayout="row wrap" class="products-wrapper">
            <div *ngIf="!products.length">
                {{emptyMessage}}
            </div>
            <div  *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page, totalItems: totalProducts }" fxFlex="100" class="col">
                <mat-card class="product-item">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="40" class="p-2">
                            <mat-chip-list *ngIf="product.discount" class="list-view">
                                <mat-chip color="warn" selected="true">{{product.discount}}% korting</mat-chip>
                            </mat-chip-list>
                            <a [routerLink]="['/products', product.id, product.name]" class="image-link">
                                <img [src]="product.images[0].medium" alt="">
                            </a>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="60" class="p-2">
                            <h4 class="category text-muted">{{ product.category_name }}</h4>                                                                     
                            <a [routerLink]="['/products', product.id, product.name]" class="title">
                                {{product.name}}
                            </a>
                            <p class="py-1 text-muted lh" [innerHTML]="product.shortdescription"></p>
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <p class="old-price text-muted">
                                        <span *ngIf="product.oldPrice">{{product.oldPrice | customCurrency}}</span>
                                    </p>
                                    <p class="new-price">{{product.newPrice | customCurrency}}</p>
                                </div>
                                <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                            </div>                            
                            <div class="divider"></div>
                            <div class="icons">
                                <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="products.length > 0" fxLayout="row wrap">
            <div fxFlex="100">
                <mat-card class="p-0 text-center">
                    <pagination-controls class="product-pagination" previousLabel="Vorige" nextLabel="Volgende" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)">
                    </pagination-controls>
                </mat-card>
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>