.filter-sidenav {
    overflow: visible!important;
    float: left;
    left: 0;
    width: 55vw;
    padding: 0;

    .mat-expansion-panel {
        border-bottom: 1px solid #E6E6DC;
        box-shadow: none;
        .mat-expansion-panel-header {

            .mat-expansion-panel-header-title {
                text-transform: uppercase;
                fa-icon {
                    color: #2da7c2;
                    font-size: 18px;
                }
            }
        }
        &.mat-checkbox+.mat-checkbox {
            margin-bottom: .5rem;
        }

        .show_more_toggle {
            cursor: pointer;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 600;
            font-family: "Poppins";
            &:hover {
                font-weight: bold;
            }
        }
    }
}

@media (min-width:960px) {
    .filter-sidenav {
        position: static;

        width: 250px;
        padding: 0;
    }
    .mat-expansion-panel {
        .mat-expansion-panel-header {
            padding: 0;
        }
    }
}
.filter-row{
    border-bottom: 1px solid #E6E6DC;
    background-color: #212226;
    color: #fff !important;
    box-shadow: none;
    padding: 0 10px;
    h2{
        text-transform: uppercase
    }
}
@media (max-width:419px) {
    .filter-row {
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
}

.filter-clear{
    margin-top: 10px;
    cursor: pointer;
    .ng-fa-icon {
        font-size: 20px;
        vertical-align: middle;
    }
}

.all-products{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.products-wrapper{
    margin: .5rem -.5rem;
    .col{
        padding: .5rem;
    }
}

.categories-wrapper{
    position: relative;
    max-height: 300px;
}

.filter-buttons{
    button{
        min-width: 36px;
        margin: 0 6px 10px 0;
        padding: 0;
    }
}

.filter-price{
    input {
        width: 70px;
        padding: 3px;
    }
    button {
        display: none;
    }
}

.filter-selected-button {
    box-shadow: 0 0 0px 2px rgba(114, 210, 25, 0.46);
}

.product-item {
    &-image {
        position: relative;
        &-speciallabel {
            position: absolute;
            top: 6px;
            left: 21px;
            background-color: #2da7c2;
            color: #fff;
            padding: 0px 7px;
        }
    }

    &-feature-highlights {
        margin-top: 5px;
        margin-left: 20px;
    }
}

.product-item-list .mat-button {
    width: 100%;
    font-family: "Poppins";
    text-align: left;
    padding: 0 1rem;

    &+.mat-button {
        margin-top:.5rem;
    }
    
    &.control-normal {
        background-color: #ebebe3;
        color: #212226;
        position: relative;
        .ng-fa-icon {
            position: absolute;
            right: 1rem;
            top: 0;
            line-height: 2.25rem;
        }
    }
}

.list-new-price {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
}
.old-price {
    text-decoration: line-through;
}

.price-only-new {
    color: #000 !important;
}

.product-item-list.mat-card {
    padding: 0;
    box-shadow: none;
    border-bottom: 1px solid #E6E6DC;

    .product-item-image {
        padding: .75rem .25rem .75rem .75rem;

        .image-link {
            height: unset;
            img {
                max-width: none;
            }
        }
    }
    .listing-item-content {
        padding: .75rem;
        padding-top: 0;
    }


}
@media (max-width: 419px) {
    .product-item-list.mat-card {
        & > div {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }
        .product-item-image,
        .listing-item-content {
            flex: 1 1 100% !important;
            max-width: 100% !important;
            width: 100%;
            padding: 0;
        }
    }
}

.product-pagination-wrapper {
    .mat-card {
        box-shadow: none;
    }
}

@media (max-width:959px) {
    .mat-drawer-container {
        position: static!important;
    }
}
