.filter-sidenav {
    overflow: visible!important;
    float: left;
    left: 0;
    width: 75vw;
    padding: 0;

    .mat-expansion-panel {
        border-bottom: 1px solid #E6E6DC;
        box-shadow: none!important;

        .mat-expansion-panel-header {

            .mat-expansion-panel-header-title {
                text-transform: uppercase;
                fa-icon {
                    color: #2da7c2;
                    font-size: 18px;
                }
            }
        }
        .mat-checkbox {
            display: block;
            margin-bottom: .5rem;
        }
        .filter-price {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            font-weight: bold;

            input[type="number"] {
                width: 30%;
                border: 1px solid #E6E6DC;
            }

            span {
                padding-left: .25rem;
                padding-right: .25rem;
            }
        }
        .show_more_toggle {
            font-weight: 700;
            color: #1d4f92;
            cursor: pointer;
        }
    }
}

@media (min-width:960px) {
    .filter-sidenav {
        position: static;
        width: 187px;
        padding: 0;
    }
    .mat-expansion-panel {
        .mat-expansion-panel-header {
            padding: 0 0 0 1rem;
        }
    }
}
.filter-row{
    border-bottom: 1px solid #E6E6DC;
    background-color: #212226;
    color: #fff !important;
    box-shadow: none;
    padding: 0 10px;
    min-height: 40px;
    h2{
        text-transform: uppercase
    }
}
@media (max-width:419px) {
    .filter-row {
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
}

.filter-clear{
    margin-top: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    .ng-fa-icon {
        font-size: 20px;
        vertical-align: middle;
    }
}

.all-products{
    min-height: 400px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.categories-wrapper{
    position: relative;
    max-height: 300px;
}

.filter-buttons{
    button{
        min-width: 36px;
        margin: 0 6px 10px 0;
        padding: 0;
    }
}

.filter-price{
    input {
        width: 70px;
        padding: 3px;
    }
    button {
        display: none;
    }
}

.filter-selected-button {
    box-shadow: 0 0 0px 2px rgba(114, 210, 25, 0.46);
}

/******* Product *******/
.product-item{


    .icons{
        margin-top: 18px;
    }
}

.product-item {
    position: relative;
    border-bottom: 1px solid #E6E6DC;
    padding: 0;
    border-radius: 0;
    box-shadow: none!important;
    &--image {
        position: relative;
        padding: .75rem .25rem .75rem .75rem;

        &-speciallabel {
            position: absolute;
            top: .75rem;
            left: .75rem;
            background-color: #2da7c2;
            color: #fff;
            padding: 0 .5rem;
        }
        &-link {

            img {
                max-width: 100%;
                max-height: 235px;
            }
        }
    }
    &--content {
        padding: .75rem;

        .product-item--info {
            &-title {
                font-weight: bold;
                font-size: .9375rem;
                color: #212126;
                text-decoration: none;
                text-transform: uppercase;
                margin-bottom: .25rem;
            }
            &-feature-highlights {
                ul.listing_attribute {
                    padding-left: 0;
                    margin-bottom: .625rem;
                }
                ul.listing_attribute > li {
                    overflow: hidden;
                    background-image: none;
                    font-weight: 500;
                    font-size: .75rem;
                    line-height: 19px;
                    line-height: inherit;
                    padding-left: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                ul.listing_attribute > li:before {
                    content: "-";
                    margin-right: 5px;
                }
                ul.listing_attribute > li > a:hover,
                ul.listing_attribute > li > a:focus {
                    text-decoration: none;
                }
            }
            &-rating {
                display: block;
                margin-bottom: .75rem;
            }
        }
        .product-item--pricesubmit {
            &-old-price{
                display: block;
                font-size: 18px;
                line-height: 1;
                font-family: "Gotham Condensed";
                letter-spacing: 1px;
                color: #b5b5b5;
            }
            &-new-price{
                display: block;
                width: auto;
                font-weight: bold;
                font-size: 36px;
                line-height: 1;
                font-family: "Gotham Condensed";
                letter-spacing: 1px;
                color: #000;
                margin-bottom: .25rem;
            }
            &-demo-unit {
                clear: right;
                font-size: .75rem;
                color: #000;
                white-space: nowrap;
                margin-bottom: 0;
                padding-top: .25rem;
                text-align: left;
            }
        }
    }
}

.product-item-list .mat-button {
    width: 100%;
    font-family: "Poppins";
    text-align: left;
    padding: 0 1rem;

    &+.mat-button {
        margin-top:.5rem;
    }
    
    &.control-normal {
        position: relative;
        height: 2rem;
        background-color: #ebebe3;
        line-height: 2rem;
        color: #212226;
        .ng-fa-icon {
            position: absolute;
            right: .5rem;
            top: 50%;
            width: 13px;
            height: 13px;
            background-color: #fff;
            font-weight: 600;
            font-size: .5rem;
            line-height: 13px;
            text-align: center;
            margin-left: .5rem;
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }
}

.list-new-price {
    font-weight: bold;
    font-size: 2.25rem;
    font-family: "Gotham Condensed Bold";
    letter-spacing: 1px;
}
.old-price {
    text-decoration: line-through;
}
.price-only-new {
    color: #000 !important;
}
.prodlist-stock-desc-green,
.prodlist-stock-desc-orange,
.prodlist-stock-desc {
    font-size: .75rem;
    margin-bottom: .25rem;
}
.prodlist-stock-desc-green {
    color: #5AAD49;
}
.prodlist-stock-desc-orange {
    color: #ff6501;
}
/*
.product-item-list.mat-card {
    padding: 0;
    box-shadow: none;
    border-bottom: 1px solid #E6E6DC;

    .product-item-image {
        padding: .75rem .25rem .75rem .75rem;

        .image-link {
            height: unset;
            img {
                max-width: none;
            }
        }
    }
    .listing-item-content {
        padding: .75rem;
        padding-top: 0;
        .demo-unit a {
            color: #2e4be5;
            cursor: pointer;
        }
    }


}
*/
@media (max-width: 419px) {
    .product-item-list.mat-card {
        & > div {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }
        .product-item-image,
        .listing-item-content {
            flex: 1 1 100% !important;
            max-width: 100% !important;
            width: 100%;
            padding: 0;
        }
    }
}

.product-pagination-wrapper {
    .mat-card {
        box-shadow: none;
    }
}

@media (max-width:959px) {
    .mat-drawer-container {
        position: static!important;
    }
}
