<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>
        
        <mat-accordion displayMode="flat" multi="true">

            <div class="pb-3" *ngIf="totalProducts">
                <h4>{{totalProducts}} <span i18n>results</span></h4>
                <p i18n>Search easily and quickly</p>
            </div>

            <mat-divider></mat-divider>

            <mat-expansion-panel expanded *ngIf="topParentCategoryId === 0 || topParentCategory.hasSubCategory">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 i18n>Categories</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="categories-wrapper categories-dropdown" perfectScrollbar>
                    <app-category-list [categories]="categories" [categoryParentId]="topParentCategoryId" [selectedCategory]="categoryId" (change)="onChangeCategory($event)"></app-category-list>
                </div>
            </mat-expansion-panel>

            <ng-container *ngIf="filterLists.length">
                <ng-container *ngFor="let filt of filterLists; let i = index">
                    <mat-expansion-panel expanded>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>
                                    {{filt.option_name}}
                                    <i *ngIf="filt?.description" class="fa fa-info-circle" [satPopoverAnchorFor]="p" (mouseenter)="popoverFilter=filt;p.open();" (mouseleave)="p.close()"></i>
                                </h4>
                                <sat-popover #p verticalAlign="below" horizontalAlign="start">
                                    <app-description-popover [title]="popoverFilter?.option_name" [content]="popoverFilter?.description"></app-description-popover>
                                </sat-popover>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div fxLayout="column" class="filter-brands">
                            <div *ngFor="let value of filt.values | slice:0:showMore[filt.display].count">
                                <mat-checkbox
                                    [disabled]="value.result_counter == 0"
                                    [checked]="value.value_checked"
                                    (change)="selectFilter(filt.option_id, value.value_id)">
                                    {{value.value_name}} ( {{value.result_counter}} )
                                </mat-checkbox>
                            </div>
                            <a class="show_more_toggle" *ngIf="filt.values.length > 6" (click)="changeShowMore(filt)">{{showMore[filt.display].text}}<mat-icon>{{showMore[filt.display].icon}}</mat-icon></a>
                        </div>
                    </mat-expansion-panel>

                    <ng-container *ngIf="priceFilterOrder == i">
            
                        <mat-expansion-panel expanded *ngIf="brands.length">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4 i18n>Condition</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div fxLayout="column" class="filter-brands">
                                <div *ngFor="let brand of brands">
                                    <mat-checkbox (change)="selectBrand(brand)">{{brand.name}}</mat-checkbox>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4 i18n>Price</h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <form class="filter-price" (ngSubmit)="filterChanged()">
                                €
                                <input [(ngModel)]="priceFrom" min="1" max="15000" (keyup)="priceFromChanged.next($event)" name="priceFrom" type="number">
                                <span i18n> up to </span>
                                €
                                <input [(ngModel)]="priceTo" min="1" max="15000" (keyup)="priceToChanged.next($event)" name="priceTo" type="number">
                                <button type="submit">Submit</button>
                            </form>
                        </mat-expansion-panel>

                    </ng-container>
                </ng-container>
            </ng-container>

            <div class="filter-clear">
                <a i18n (click)="initFilter();filterChanged();">Clear Selection </a><i class="fa fa-trash"></i>
            </div>

        </mat-accordion>

    </mat-sidenav>
    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
        <div fxLayout fxLayoutAlign="end start" fxLayoutGap="20px">
            <div fxFlex="100" fxFlex.gt-md="70">
                <div>
                    <h1>{{category_name}}</h1>
                    <p [innerHTML]="category_description | htmlSanitize"></p>
                </div>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
                    <h2>
                        <ng-container i18n>Overview </ng-container>
                        {{category_name}}
                    </h2>
                    <div fxLayout>
                        <div>
                            <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
                                {{sort}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                            </a>
                            <mat-menu #sortMenu="matMenu" xPosition="before" class="app-dropdown">
                                <span (mouseleave)="sortMenuTrigger.closeMenu()">
                                    <button mat-menu-item *ngFor="let sort of sortings" (click)="changeSorting(sort)">
                                        <span>{{sort}}</span>
                                    </button>
                                </span>
                            </mat-menu>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" fxHide.lt-sm>
                            <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
                            <ng-container i18n>Show</ng-container> {{count}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                            </a>
                            <mat-menu #countsMenu="matMenu" xPosition="before" class="app-dropdown">
                                <span (mouseleave)="countsMenuTrigger.closeMenu()">
                                    <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
                                        <span>{{count}}</span>
                                    </button>
                                </span>
                            </mat-menu>
                        </div>
                    </div>
                </div>

                <div *ngIf="viewType == 'list'" fxLayout="row wrap" class="products-wrapper">
                    <div *ngIf="!products.length">
                        {{emptyMessage}}
                    </div>
                    <ng-container>
                        <div  *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page, totalItems: totalProducts }" fxFlex="100" class="col">
                            <mat-card class="product-item product-item-list">
                                <div fxLayout fxLayout="row" fxLayoutAlign="start start">
                                    <div fxFlex="160px" class="product-item-image">
                                        <div *ngIf="product.specialLabel" class="product-item-image-speciallabel">
                                            {{product.specialLabel}}
                                        </div>
                                        <a [routerLink]="[product.permalink]" class="image-link">
                                            <img [attr.ix-path]="product.images[0].small" ix-params='{"auto":"compress", "w":140}' width="140" >
                                        </a>
                                    </div>
                                    <div fxFlex="100" fxLayout.lt-md="column" fxLayoutGap="1rem" class="listing-item-content">
                                        <div fxFlex.md="40">
                                            <a [routerLink]="[product.permalink]" class="title">{{product.name}}</a>
                                            <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'row'"></app-rating>
                                            <div class="product-item-feature-highlights" [innerHTML]="product.featureHighlights | htmlSanitize"></div>
                                        </div>
                                        <div fxFlex.md="60">
                                            <p class="old-price text-muted">
                                                <span *ngIf="product.oldPrice">{{product.oldPrice | customCurrency:2:3:false}}</span>
                                            </p>
                                            <p class="new-price list-new-price" [ngClass]="{'price-only-new': !product.oldPrice}">{{product.newPrice | customCurrency:2:3:false}}</p>
                                            <p class="stock-indicator" [innerHTML]="product.stockIndicator | htmlSanitize"></p>
                                            <button class="control-normal" mat-button [routerLink]="[product.permalink]">
                                                <ng-container i18n>GO TO PRODUCT</ng-container> <i class="fas fa fa-chevron-circle-right"></i>
                                            </button>
                                            <p *ngIf="product.demoUnitText" [innerHTML]="product.demoUnitText | htmlSanitize"></p>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="products.length > 0" fxLayout="row wrap" class="product-pagination-wrapper">
                    <div fxFlex="100">
                        <mat-card class="p-0 text-center">
                            <pagination-controls class="product-pagination" previousLabel="Vorige" nextLabel="Volgende" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)">
                            </pagination-controls>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div fxFlex fxHide fxShow.gt-md>
                <app-extra-info></app-extra-info>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>