.stores-carousel{
    background: rgba(0,0,0,0.03);
    position: relative;

    .stores-title{
        background: #212226;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.875rem;
        font-family: "Gotham Condensed Bold";
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .swiper-container{
        .store-item{
            display: flex;
            align-items: center;
            img{
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        }        
    }
}