<div class="stores-carousel">
  <h1>{{stores.length}} <ng-container i18n>Stores</ng-container></h1>
  <div class="swiper-container h-100" [swiper]="config">
      <div class="swiper-wrapper h-100">      
          <div *ngFor="let store of stores" class="swiper-slide">
              <div class="p-0">
                  <a [routerLink]="['/stores', store.store_location]" class="store-item">
                      <img [attr.ix-path]="store.store_image_thumbnail" alt="" class="swiper-lazy">
                  </a>
              </div>
              <div class="text-center">{{store.store_location}}</div>
          </div>
      </div>
    </div>
</div>