.filter-sidenav {
    overflow: visible!important;
    float: left;
    left: 0;
    width: 55vw;
    padding: 0;
}

@media (min-width:960px) {
    /* .filter-sidenav {
        position: static;
        width: 187px;
        padding: 0;
    } */
}

#page-store {
    h1 {
        font-weight: bold;
        font-size: 26px;
        line-height: normal;
        font-family: "Gotham Condensed Bold";
        letter-spacing: 1px;
        color: #212226;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding: 0 15px;
    }

    .address-field {
        font-weight: 600;
        font-size: 14px;
    }

    .phone-number {
        color: #f90;
        margin-bottom: 2px;
        font-size: 12px;
    }

    .email {
        color: #246bb5;
        text-decoration: underline;
    }

    .header-title {
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.125rem;
        font-family: "Poppins";
        text-transform: none;
        margin-bottom: .5rem;
    }

    .weekday {
        width: 30px;
        display: inline-block;
    }

    .features {
        border: 7px solid #e9e9e9;
        padding: 2rem;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                background-image: url(/assets/images/others/content_li.gif);
                background-position: left .45rem;
                background-repeat: no-repeat;
                padding-left: .75rem;
            }
        }
    }

    /*.atmosphere {
        .small-image {
            overflow: hidden;
            position: relative;
            line-height: 0;
            max-height:140px;

            img {
                width: 100%;
            }
        }

        .big-image {
            overflow: hidden;
            position: relative;
            line-height: 0;
            margin-bottom: 10px;

            img {
                max-width: 100%;
            }
        }

    }*/



    .introduce img {
        padding-right: 15px;
        padding-bottom: 15px;
    }
}
.atmosphere-r {
    position: relative;
    overflow: hidden;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    height: 400px;
    margin-left: -.25rem;
    margin-right: -.25rem;
    padding-left: calc(25% + .125rem);
}

.atmosphere-r .big-image {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    padding: .25rem;
}

.atmosphere-r .big-image:nth-child(1), .atmosphere-r .big-image:nth-child(2), .atmosphere-r .big-image:nth-child(3) {
    position: absolute;
    left: 0;
    width: 25%;
    height: 33.333333%;
}

.atmosphere-r .big-image:nth-child(1) {
    top: 0;
}

.atmosphere-r .big-image:nth-child(2) {
    top: 33.333333%;
}

.atmosphere-r .big-image:nth-child(3) {
    bottom: 0;
}

.atmosphere-r .big-image:nth-child(4), .atmosphere-r .big-image:nth-child(5), .atmosphere-r .big-image:nth-child(6), .atmosphere-r .big-image:nth-child(7) {
    ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    height: 50%;
    max-height: 50%;
}

.atmosphere-r .big-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
.atmosphere > div {
    margin-left: -10px;
    margin-right: -10px;
}
.atmosphere-l,
.atmosphere-r > div {
    padding-left: 10px;
    padding-right: 10px;
}
.atmosphere-r .big-image:nth-child(1),
.atmosphere-r .big-image:nth-child(2) {
    padding-bottom: 20px;
}
*/
@media (min-width:600px) {
    #page-store {
        .features {
            ul {
                &::before,
                &::after {
                    clear: both;
                    display: table;
                    content: "";
                }
                li {
                    float: left;
                    width: 50%;
                }
            }
        }
    }
}