<div fxLayout="row">
  <div fxFlex="100" fxFlex.gt-md="80" ngClass.gt-md="pr-3" class="store">

  <h1>{{data.name}}</h1>

  <div fxLayout="space-between start" fxLayout.lt-md="column" fxLayoutGap="30px" ngClass="mb-3">

    <div fxFlex="40%" fxFlex.lt-md="false">

      <div class="address-field">{{data.address.field1}}</div>

      <div class="address-field">{{data.address.field2}}</div>

      <div class="phone-number">{{data.phone}}</div>

      <a class="email">{{data.email}}</a>

      <h4 ngClass="mt-2" i18n>OPENING HOURS</h4>

      <div *ngFor="let day of data.opening_hours">
        <span class="weekday">{{day.weekday}}:</span>
        <span>{{day.start}} - {{day.end}}</span>
      </div>
    </div>

    <div fxFlex fxFlex.lt-md="false">
      <app-google-map></app-google-map>
    </div>

  </div>

  <div class="features" ngClass="mb-3">
    <ul>
      <li *ngFor="let feature of data.features" >
        {{feature}}
      </li>
    </ul>
  </div>

  <div class="video" ngClass="mb-3">
    <iframe width='100%' height='435' src='https://www.youtube.com/embed/fH5c5JMppDs?enablejsapi=1&amp;origin=https:%2F%2Fwww.plattetv.nl' frameborder='0' allowfullscreen='' id='widget2'></iframe>
  </div>

  <div class="introduce" ngClass="mb-3">
    <h3 class="header-title" i18n>LET US INTRODUCE</h3>
    <div fxLayout fxLayoutGap="10px">
      <img *ngFor="let photo of data.introduce" [src]="photo">
    </div>
  </div>

  <div class="atmosphere">
    <h3 class="header-title" i18n>ATMOSPHERE</h3>
    <div fxLayout fxLayout="start stretch">
      <div fxFlex="25" fxLayout="column" fxLayout="space-between start" class="atmosphere-l">
        <div class="small-image" *ngFor="let image of data.atmosphere.small">
          <img [src]="image">
        </div>
      </div>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between start" class="atmosphere-r">
        <div class="big-image" fxFlex="50%" *ngFor="let image of data.atmosphere.big">
          <img [src]="image">
        </div>
      </div>
    </div>
  </div>
</div>

  <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md>

    <div fxLayout="column" class="misc-bar" ngClass.gt-md="m-0">
      <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
        <mat-card class="branch-office">
          <mat-card-title><h4 i18n>Our Shops</h4></mat-card-title>
          <mat-card-content>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a [routerLink]="['/stores/amsterdam']"><img src="https://www.plattetv.nl/var/store_images/amsterdam.png" width="55" height="55"></a></div>
              <div class="branch_opening_hours">
                <div class="adbox_opening_times city_name"><a [routerLink]="['/stores/amsterdam']"> <strong i18n>Amsterdam</strong> </a></div>
                <div class="adbox_opening_times"><a [routerLink]="['/stores/amsterdam']" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a [routerLink]="['/stores/amsterdam']" i18n>till 21:00</a></div>
              </div>
            </div>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html"><img src="https://www.plattetv.nl/var/store_images/arnhem.png" width="55" height="55"></a></div>
              <div class="branch_opening_hours">
                <div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html"> <strong i18n>Arnhem</strong> </a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-arnhem-1.html" i18n>till 21:00</a></div>
              </div>
            </div>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html"><img src="https://www.plattetv.nl/var/store_images/breda.png" width="55" height="55"></a></div>
              <div class="branch_opening_hours"><div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html"> <strong i18n>Breda</strong> </a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html" i18n>till 21:00</a></div>
              </div>
            </div>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html"><img src="https://www.plattetv.nl/var/store_images/doesburg.png" width="55" height="55"></a></div>
              <div class="branch_opening_hours">
                <div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html"> <strong i18n>Doesburg</strong> </a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doesburg-12.html" i18n>till 18:00</a></div>
              </div>
            </div>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html"><img src="https://www.plattetv.nl/var/store_images/doetinchem.png" width="55" height="55"></a></div>
              <div class="branch_opening_hours">
                <div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html"> <strong i18n>Doetinchem</strong> </a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-doetinchem-4.html" i18n>till 18:00</a></div></div>
            </div>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html"><img src="https://www.plattetv.nl/var/store_images/eindhoven-thumb.jpg" width="55" height="55"></a></div>
              <div class="branch_opening_hours">
                <div class="adbox_opening_times city_name"><strong><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html" i18n>Eindhoven</a>&nbsp;</strong></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html" i18n>till 18:00</a></div>
              </div>
              <div class="image_overlay"><a href="extrainfo/winkel-eindhoven-9.html" i18n>new!</a></div>
            </div>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html"><img src="https://www.plattetv.nl/var/store_images/nijmegen.png" width="55" height="55"></a></div>
              <div class="branch_opening_hours"><div class="adbox_opening_times city_name"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html"> <strong i18n>Nijmegen</strong> </a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html" i18n>till 21:00</a></div>
              </div>
            </div>
            <div class="branch_opening_hours_box">
              <div class="branch_img"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html"><img src="https://www.plattetv.nl/var/store_images/PlatteTV_Utrecht_vierkant_Thumbnail_Samsung.jpg" width="55" height="55"></a></div>
              <div class="branch_opening_hours">
                <div class="adbox_opening_times city_name"><strong><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html" i18n>Utrecht</a>&nbsp;</strong></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html" i18n>Open today</a></div>
                <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html" i18n>till 21:00</a></div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
        <mat-card id="advice-and-contact">
          <mat-card-title>
            <h4 i18n>ADVICE AND CONTACT</h4>
          </mat-card-title>
          <mat-card-content>
            <div class="adbox_opening_times"><strong> <a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html" i18n>Open today</a> </strong></div>
            <div class="adbox_opening_times"><a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html" i18n>till 21:00 hour</a></div>
            <div class="contact_box contact_chat_live"><a onclick="LC_API.open_chat_window(); return false;" href="https://www.plattetv.nl/"> <i class="far fa-comment"></i><strong i18n>CHAT LIVE</strong> <span i18n>Reply within 30 sec.</span> </a></div>
            <div class="contact_box contact_form"><a href="https://www.plattetv.nl/extrainfo/contact-formulier-2557.html?popup=true" class="popupCMS"> <i class="far fa-envelope"></i><strong i18n>Insert Form</strong> <span i18n>Reply within 10 min.</span> </a></div>
            <div class="contact_box contact_whatsapp"><a href="https://api.whatsapp.com/send?phone=31633444433"> <i class="fab fa-whatsapp"></i><strong i18n>WHATSAPP US</strong> <span i18n>Reply within 30 sec.</span> </a></div>
            <div class="contact_box contact_bel"><a href="tel:0268454658"> <i class="fas fa-phone"></i><strong i18n>CALL 026-84 54 658</strong> <span i18n>Direct reply</span> </a></div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
        <mat-card id="extra-open">
          <mat-card-title>
            <h4 i18n>EXTRA OPEN FOR YOU</h4>
          </mat-card-title>
          <mat-card-content>
            <div class="extra_open_hours_box">
              <div class="special_open_time"><span i18n>SUNDAY 2 SEP</span></div>
              <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-amsterdam-6.html" i18n>Amsterdam</a></div>
              <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-Arnhem-1.html" i18n>Arnhem</a></div>
              <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-breda-3.html" i18n>Breda</a></div>
              <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-eindhoven-9.html" i18n>Eindhoven</a></div>
              <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-nijmegen-2.html" i18n>Nijmegen</a></div>
              <div class="city_open_time"><a href="https://www.plattetv.nl/extrainfo/winkel-utrecht-14.html" i18n>Utrecht</a></div>
            </div>
            <div class="city_open_time" style="text-align: center;"><a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html#winkels" i18n>open from 12:00 till 17:00</a></div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
        <mat-card id="customer-review">
          <mat-card-title>
            <h4 i18n>CLIENT REVIEWS</h4>
          </mat-card-title>
          <mat-card-content>
            <div class="reviewbox reviewbox-kieskeurig">
              <span class="reviewbox--score" i18n>9,4</span>
              <span class="reviewbox--text">
                            <span class="reviewbox--label" i18n>Kieskeurig.nl</span>
                            <span class="reviewbox--total-reviews"><a href="https://www.kieskeurig.nl/winkels/plattetv/reviews" target="_blank" i18n>20.510 reviews</a></span>
                        </span>
            </div>
            <div class="reviewbox reviewbox-tweakers">
              <span class="reviewbox--title" i18n>Tweakers</span>
              <span class="reviewbox--star-40"></span>
              <span class="reviewboox--total-reviews"><a href="https://tweakers.net/shopreview/6924/plattetv/shopreviews/" target="_blank" i18n>234 reviews</a></span>
            </div>
            <div class="reviewbox reviewbox-trustpilot">
              <span class="reviewbox--title" i18n>Trustpilot</span>
              <span class="reviewbox--star-40"></span>
              <span class="reviewboox--total-reviews"><a href="https://nl.trustpilot.com/review/www.plattetv.nl" target="_blank" i18n>889 reviews</a></span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>

</div>
