<div fxLayout="row">
  <div fxFlex="100" fxFlex.gt-md="80" ngClass.gt-md="pr-3" class="store">

  <h1>{{data.name}}</h1>

  <div fxLayout="space-between start" fxLayout.lt-md="column" fxLayoutGap="30px" ngClass="mb-3">

    <div fxFlex="40%" fxFlex.lt-md="false">

      <div class="address-field">{{data.address.field1}}</div>

      <div class="address-field">{{data.address.field2}}</div>

      <div class="phone-number">{{data.phone}}</div>

      <a class="email">{{data.email}}</a>

      <h4 ngClass="mt-2" i18n>OPENING HOURS</h4>

      <div *ngFor="let day of data.opening_hours">
        <span class="weekday">{{day.weekday}}:</span>
        <span>{{day.start}} - {{day.end}}</span>
      </div>
    </div>

    <div fxFlex fxFlex.lt-md="false">
      <app-google-map></app-google-map>
    </div>

  </div>

  <div class="features" ngClass="mb-3">
    <ul>
      <li *ngFor="let feature of data.features" >
        {{feature}}
      </li>
    </ul>
  </div>

  <div class="video" ngClass="mb-3">
    <iframe width='100%' height='435' src='https://www.youtube.com/embed/fH5c5JMppDs?enablejsapi=1&amp;origin=https:%2F%2Fwww.plattetv.nl' frameborder='0' allowfullscreen='' id='widget2'></iframe>
  </div>

  <div class="introduce" ngClass="mb-3">
    <h3 class="header-title" i18n>LET US INTRODUCE</h3>
    <div fxLayout fxLayoutGap="10px">
      <img *ngFor="let photo of data.introduce" [src]="photo">
    </div>
  </div>

  <div class="atmosphere">
    <h3 class="header-title" i18n>ATMOSPHERE</h3>
    <div fxLayout fxLayout="start stretch">
      <div fxFlex="25" fxLayout="column" fxLayout="space-between start" class="atmosphere-l">
        <div class="small-image" *ngFor="let image of data.atmosphere.small">
          <img [src]="image">
        </div>
      </div>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between start" class="atmosphere-r">
        <div class="big-image" fxFlex="50%" *ngFor="let image of data.atmosphere.big">
          <img [src]="image">
        </div>
      </div>
    </div>
  </div>
</div>

  <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md>
    <app-extra-info></app-extra-info>
  </div>

</div>
