<mat-toolbar class="usp-list top-usp-list" fxLayoutAlign="flex-start center">
    <mat-toolbar-row class="theme-container" fxLayoutAlign="flex-start center">
        <div><a href="https://www.plattetv.nl/" i18n>The TV-store of the Netherlands</a></div>
        <div class="usp-list-item"><a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html#winkels"><i class="fas fa fa-check-circle"></i><ng-container i18n>8 locations</ng-container></a></div>
        <div class="usp-list-item"><a href="https://www.plattetv.nl/extrainfo/installatie-op-maat-learning-center-1864.html"><i class="fas fa fa-check-circle"></i><ng-container i18n>Installation and  en assembly</ng-container></a></div>
        <div class="usp-list-item"><a href="https://www.plattetv.nl/extrainfo/verzending-en-bezorging-109.html#gratisbezorgen"><i class="fas fa fa-check-circle"></i><ng-container i18n>Free delivery</ng-container></a></div>
        <div class="review"><span class="review--score">9,4</span><span class="review--text"><span class="review--label" i18n>CLIENT REVIEWS</span><br><span class="review--total-reviews"><a rel="noreferrer" href="https://www.kieskeurig.nl/winkels/plattetv/reviews" target="_blank" i18n>20.510 reviews</a></span></span></div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <mat-toolbar-row fxLayoutAlign="space-around center" class="top-navbar-container">
        <div *ngFor="let category of categories"
            class="category-menu-item"
            mat-button
            (mouseenter)="triggerSubCategoryMenu(category, $event)"
            (mouseleave)="hideSubCategoryMenu($event)">
            <a class="transition" [routerLink]="[ category.permalink ]"
               routerLinkActive="horizontal-active-link"
               [routerLinkActiveOptions]="{exact:false}">{{category.name}}</a>
        </div>
        <div id="subCategories">
            <mat-card *ngIf="displaySubCategories" (mouseleave)="hideSubCategoryMenu($event, false)">
                <app-category-list [categories]="allCategories" [categoryParentId]="parentCategoryId" [selectedCategory]="selectedCategoryId" (change)="onChangeCategory($event)"></app-category-list>
            </mat-card>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

