<app-main-carousel [slides]="slides"></app-main-carousel> 

<div fxLayout="row wrap" class="info-bar">
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
            <div class="content">
                <p>PLATTE BONUS</p>
                <span class="text-muted m-0">Bestel en ontvang extra bonus</span>
            </div> 
        </mat-card> 
    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
            <div class="content">
                <p>GRATIS BEZORGING</p>
                <span class="text-muted m-0">Bestellingen vanaf € 100,- gratis thuisbezorgd</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>
            <div class="content">
                <p>GELD TERUG GARANTIE</p>
                <span class="text-muted m-0">14 dagen recht op retourbeleid</span>
            </div> 
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
            <div class="content">
                <p>ONLINE SUPPORT 24/7</p> 
                <span class="text-muted m-0">Bel ons: 026 - 84 54 658</span>
            </div> 
        </mat-card>
    </div>
</div>

<app-banners [banners]="banners"></app-banners>

<div class="products-tabs">

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">

        <mat-tab label="Aanbiedingen">
            <app-products-carousel [products]="products"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Best beoordeeld">
            <app-products-carousel [products]="products"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Nieuw">
            <app-products-carousel [products]="products"></app-products-carousel>
        </mat-tab>
    </mat-tab-group> 


</div>
