.products-tabs{
    margin-top: 30px;   
}
.middle-content {
    min-width: 1px;

    .collapse-menu {
        background-color: #212126;
    }

    .mat-expansion-panel {
        background-color: #e6e6dc;
        margin: 8px 0;
        box-shadow: none !important;
    }

    .mat-expansion-panel-header-title {
        font-size: 1rem;
        color: #212226;
        font-family: inherit;
        font-weight: 400;
    }

    .mat-expansion-panel-header {
        padding: 0 12px;
    }

    .mat-expansion-panel-body {
        padding: 0 !important;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0px;
    }

    ul.panel-content {
        background-color: white;
        list-style-type: none;

        li {
            border-bottom: 1px solid #b6b6b7;
            padding: .375rem .75rem;
            font-size: 1rem;
            color: #212226;

            a.nav-link {
                color: #212226;
            }
        }
    }
}
.filter-sidenav {
    /*
    position: static;
    -ms-flex: 0 0 187px;
    flex: 0 0 187px;
    max-width: 187px;
    padding: 0;
    */
}
.misc-sidenav {
    -ms-flex: 0 0 187px;
    flex: 0 0 187px;
    max-width: 187px;
}

.most-popular-wrapper {
    .most-popular-title {
        background: #212226;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.875rem;
        font-family: "Gotham Condensed Bold";
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .image-link {
        height: 130px;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .most-popular {
        margin-left: -.5rem;
        margin-right: -.5rem;
        .product-item-widget{
            margin-bottom: 1rem;
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }
}