<div fxLayout>
    <div fxFlex="0 0 187px" class="filter-sidenav" *ngIf="windowSize == 'gt-md'">
        <app-filters-list></app-filters-list>
    </div>
    <div fxFlex ngClass.xs="px-2" ngClass.sm="px-4" ngClass.gt-sm="px-3" class="middle-content">
        <ng-container *ngIf="widget">
            <app-main-carousel *ngIf="widget" [slides]="widget[0]"></app-main-carousel>
            
            <ng-container *ngIf="windowSize == 'gt-md'">
                <div *ngFor="let mid of widget[1]" [innerHTML]="mid.content | htmlSanitize" (click)="navigate($event)">
                </div>
                <div class="most-popular-wrapper">
                    <div class="most-popular-title" i18n>Most Popular</div>
                    <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="most-popular">
                        <div fxFlex="50" fxFlex.gt-sm="33.3333333" *ngFor="let product of widget[2].products" class="product-item-widget">
                            <app-product [product]="product"></app-product>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="windowSize == 'lt-md'">
                <app-stores-carousel *ngIf="stores.length" [stores]="stores"></app-stores-carousel>
                <app-most-popular-products-carousel *ngIf="widget" [products]="widget[2].products"></app-most-popular-products-carousel>
            </ng-container>

        </ng-container>
    </div>

    <div fxFlex="0 0 187px" class="misc-sidenav" *ngIf="windowSize == 'gt-md'">
        <app-extra-info></app-extra-info>
    </div>
</div>
