$font-family: "Poppins", sans-serif;
$theme-max-width: 1034px;

$small-screen-up: 577px !default;
$medium-screen-up: 769px !default;
$large-screen-up: 993px !default;
$small-screen: 576px !default;
$medium-screen: 768px !default;
$large-screen: 992px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$xlarge-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$large-and-down: 'only screen and (max-width : #{$large-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})'
  !default;
$medium-and-large: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$large-screen})'
  !default;
$large-only: 'only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})'
  !default;


@font-face {
  font-family: "Gotham Condensed Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("Gotham Condensed Bold"),
     url(/assets/fonts/hinted-GothamCondensed-Bold.woff2) format('woff2');
}

@font-face {
  font-family: "Gotham Condensed";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Gotham Condensed"),
    url(/assets/fonts/hinted-GothamCondensed-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}