$font-family: Poppins, sans-serif;
$theme-max-width: 1140px;

$small-screen-up: 577px !default;
$medium-screen-up: 769px !default;
$large-screen-up: 993px !default;
$small-screen: 576px !default;
$medium-screen: 768px !default;
$large-screen: 992px !default;

$medium-and-up: 'only screen and (min-width : #{$small-screen-up})' !default;
$large-and-up: 'only screen and (min-width : #{$medium-screen-up})' !default;
$xlarge-and-up: 'only screen and (min-width : #{$large-screen-up})' !default;
$small-and-down: 'only screen and (max-width : #{$small-screen})' !default;
$medium-and-down: 'only screen and (max-width : #{$medium-screen})' !default;
$large-and-down: 'only screen and (max-width : #{$large-screen})' !default;
$medium-only: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})'
  !default;
$medium-and-large: 'only screen and (min-width : #{$small-screen-up}) and (max-width : #{$large-screen})'
  !default;
$large-only: 'only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})'
  !default;


@font-face {
  font-family: "Gotham Condensed Bold";
  src: url(/assets/fonts/hinted-GothamCondensed-Bold.woff2) format('woff2'),
      url(/assets/fonts/hinted-GothamCondensed-Bold.woff) format('woff'),
      url(/assets/fonts/hinted-GothamCondensed-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Gotham Condensed";
    src: url(/assets/fonts/hinted-GothamCondensed-Light.woff2) format('woff2'),
        url(/assets/fonts/hinted-GothamCondensed-Light.woff) format('woff'),
        url(/assets/fonts/hinted-GothamCondensed-Light.ttf) format('truetype');
}

@font-face {
  font-family: "Gotham Condensed Medium";
  src: url(/assets/fonts/hinted-GothamCondensed-Medium.woff2) format('woff2'),
      url(/assets/fonts/hinted-GothamCondensed-Medium.woff) format('woff'),
      url(/assets/fonts/hinted-GothamCondensed-Medium.ttf) format('truetype');
}
