<div class="cart-page-container">
  <h3 class="page-title" i18n>CART CONTENTS</h3>
  <div *ngIf="!productData.length && loaded">
    <p i18n>Your shopping cart is empty.</p>
    <button class="btn btn-checkout float-right" mat-button [routerLink]="['/']">
      <span i18n>Continue to homepage</span>
      <fa-icon [icon]="['fas', 'chevron-circle-right']"></fa-icon>
    </button>
    <div class="clear"></div>
  </div>
  <div *ngIf="productData.length">
    <table class="cart-table" border="0" width="100%" cellspacing="0" cellpadding="2">
      <thead>
        <tr>
          <th align="center"></th>
          <th class="main" align="left" i18n>Product(en)</th>
          <th class="quantity" align="center" i18n>Quantity</th>
          <th class="action" align="center" i18n></th>
          <th align="right" i18n>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productData">
          <td align="center" valign="top">
            <a routerLink="{{product.permalink}}">
              <img class="mr-10" [attr.ix-path]="product.item_image" ix-params='{"auto":"compress"}' sizes="(min-width: 768px) 123px, (min-width: 320px) 55px, 100vw"  alt="">
            </a>
          </td>
          <td class="main" valign="top">
            <a routerLink="{{product.permalink}}" class="product-title"><strong>{{product.item_name}}</strong></a>
            <ul>
              <li>{{product.stock_indicator}}</li>
              <li><a>{{product.shipping_info}}</a></li>
            </ul>
            <br>
            <div *ngIf="product.item_description">
              {{product.item_description}}
            </div>
          </td>
          <td class="quantity" align="center" valign="top" >
            <input type="text" [(ngModel)] ="product.item_qty_copy"  *ngIf="product.item_price != 0" />
          </td>
          <td class="action" align="center" valign="top">
            <div class="btn-container">
              <button class="item-button" title="Remove this product" (click)="removeFromCart(product)" i18n-title>
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
              </button>
              <button class="item-button" title="Recalculate price" (click)="recalculatePrice(product)" i18n-title *ngIf="product.item_price != 0">
                <!-- <mat-icon>autorenew</mat-icon> -->
                <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>
              </button>

            </div>
          </td>

          <td align="right" valign="top"><strong class="price-content">{{ (product.item_price * product.item_qty) | customCurrency }}</strong></td>

        </tr>
        <tr>
          <td colspan="6" class="no-border"><br></td>
        </tr>
        <tr>
          <td align="right" colspan="6" class="no-border">
            <strong><span i18n>Subtotal (Incl. TAX):</span> {{totalPrice | customCurrency}}</strong>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="no-border"><br></td>
        </tr>
      </tbody>
    </table>
    <div class="checkout-container">
      <div class="add-coupon-container">
        <a (click)="addCouponFormToggle()">> <span i18n>Insert code</span></a>
        <div class="add-coupon-form" *ngIf="addCouponForm">
          <input type="text" [(ngModel)]="couponCode"/> <br>
          <button class="btn btn-checkout" (click)="verifyCouponCode()"><span i18n>Activate code</span>
            <fa-icon [icon]="['fas', 'chevron-circle-right']"></fa-icon>
          </button>
        </div>
      </div>
      <div class="checkout-btn-container">
        <button class="btn btn-shopping" mat-button><span i18n>continue shopping</span>
          <fa-icon [icon]="['fas', 'chevron-circle-right']"></fa-icon>
        </button>
        <button class="btn btn-checkout" mat-button><span i18n>place order</span>
          <fa-icon [icon]="['fas', 'chevron-circle-right']"></fa-icon>
        </button>
      </div>
    </div>
    <div class="related-product-container" *ngIf="relatedProductData?.length">
      <h4 i18n>Complete your order:</h4>
      <table>
        <tr *ngFor="let product of relatedProductData">
          <td>
            <a>
              <img [attr.ix-path]="product.item_image" ix-params='{"auto":"compress", "w":48}' sizes="(min-width: 768px) 48px, (min-width: 320px) 48px, 100vw" alt="">
            </a>
          </td>
          <td>
            <a routerLink="{{product.permalink}}">{{product.item_name}}(High Quality)</a>
          </td>
          <!-- <td align="right"><span class="check-price">{{ product.item_old_price | customCurrency}}</span></td> -->
          <td align="right">{{ product.item_price | customCurrency}}</td>
          <td align="right">
            <button class="btn add-item-btn" mat-button (click)="addToCartApi(product)">
              <span i18n>Add</span>
              <fa-icon [icon]="['fas', 'chevron-circle-right']"></fa-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="5"><br></td>
        </tr>
        <tr>
          <td align="right" colspan="5">
            <button class="btn btn-checkout"><span i18n>place order</span>
              <fa-icon [icon]="['fas', 'chevron-circle-right']"></fa-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
