.swiper-container {
    padding-bottom: 2rem;
}
.main-slider{
    /* height: 319px; */

    .slide-item{
        height: 100%;
        img {
            width:100%;
            height: auto;
        }
    }
    .swiper-lazy-preloader{
        top: 18%;
    }
}

@media (max-width: 575px) { 
    .main-slider{ 
        /*height: 280px; */
        .slide-item .content {
            h1{
                font-size: 24px;
                letter-spacing: 3px;
            }
            h3{
                font-size: 18px;
                margin-bottom: 10px;
                letter-spacing: 2px;
            }
        } 
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .main-slider{ 
        height: 320px;
        .slide-item .content {
            h1{
                font-size: 36px;
                letter-spacing: 3px; 
            }
            h3{
                font-size: 24px;
                margin-bottom: 20px;
                letter-spacing: 2px;
            }
        } 
    }
}