<div class="main-slider">
  <div class="swiper-container h-100" [swiper]="config">
    <div class="swiper-wrapper h-100">      
      <div *ngFor="let slide of slides" class="swiper-slide">
        <div class="slide-item swiper-lazy">
            <img [attr.ix-path]="slide.image" ix-params='{"auto":"compress"}' alt=""> 
        </div>
      </div>
    </div>
    <div class="swiper-pagination white"></div>
    <!-- <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><fa-icon [icon]="['fas', 'angle-left']" size="lg"></fa-icon></button>
    <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><fa-icon [icon]="['fas', 'angle-right']" size="lg"></fa-icon></button> -->
  </div>
</div>