<div class="checkout-step">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div fxLayout="row" fxLayoutAlign="space-between start" class="form-title mb-3">
      <h3 i18n>Your data</h3>
      <span i18n>fields with * are obligated</span>
    </div>

    <div class="form-content">
      <div>
        <label i18n>type of order</label>
        <mat-radio-group #order_type formControlName="customer_type" required>
          <mat-radio-button value="private" radioGroup="order_type" class="mr-4">
            <ng-container i18n>Private</ng-container>
          </mat-radio-button>
          <mat-radio-button value="for_business" radioGroup="order_type">
            <ng-container i18n>For Business</ng-container>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <form *ngIf="form.value.customer_type == 'for_business'" [formGroup]="businessForm" class="form-content">
        <div>
          <label for="company_name" i18n>Company Name:</label>
          <input id="company_name" type="text" formControlName="company_name">
        </div>

        <div>
          <label for="vat_number" i18n>VAT number:</label>
          <input id="vat_number" type="text" formControlName="tax_id">
        </div>
      </form>

      <div>
        <label for="gender" i18n>Saluation: *</label>
        <mat-radio-group id="gender" #gender formControlName="customer_gender" required>
            <mat-radio-button value="mr" radioGroup="gender" class="mr-4">
              <ng-container i18n>Mr.</ng-container>
            </mat-radio-button>
    
            <mat-radio-button value="mrs" radioGroup="gender">
              <ng-container i18n>Mrs.</ng-container>
            </mat-radio-button>
    
          </mat-radio-group>
      </div>

      <div>
        <label for="first_name" i18n>First name: *</label>
        <input id="first_name" type="text" formControlName="first_name" required>
        <mat-error *ngIf="submitted && fc.first_name.errors?.required" i18n>First name is required</mat-error>
      </div>

      <div>
        <label for="last_name" i18n>Last name: *</label>
        <input id="last_name" type="text" formControlName="last_name" required>
        <mat-error *ngIf="submitted && fc.last_name.errors?.required" i18n>Last name is required</mat-error>
      </div>

      <div>
        <label for="street_address" i18n>Street: *</label>
        <input id="street_address" type="text" formControlName="street_address" required>
        <mat-error *ngIf="submitted && fc.street_address.errors?.required" i18n>Street is required</mat-error>
      </div>

      <div>
        <label for="house_number" i18n>House number: *</label>
        <input id="house_number" type="text" formControlName="house_number" required>
        <mat-error *ngIf="submitted && fc.house_number.errors?.required" i18n>House number is required</mat-error>
      </div>

      <div>
        <label for="postcode" i18n>Postal Code: *</label>
        <input id="postcode" type="text" formControlName="postcode" required>
        <mat-error *ngIf="submitted && fc.postcode.errors?.required" i18n>Postal Code is required</mat-error>
      </div>

      <div>
        <label for="city" i18n>Place: *</label>
        <input id="city" type="text" formControlName="city" required>
        <mat-error *ngIf="submitted && fc.city.errors?.required" i18n>Place is required</mat-error>
      </div>

      <div>
        <label for="country" i18n>Country: *</label>
        <select id="country" formControlName="country" required>
          <option value="NL" i18n>Netherlands</option>
          <option value="BE" i18n>Belgium</option>
        </select>
        <mat-error *ngIf="submitted && fc.country.errors?.required" i18n>Country is required</mat-error>
      </div>

      <div>
        <label for="phone_number" i18n>Phone number: *</label>
        <input id="phone_number" type="text" formControlName="telephone" required>
        <mat-error *ngIf="submitted && fc.telephone.errors?.required" i18n>Phone number is required</mat-error>
      </div>

      <div>
        <label for="email_address" i18n>E-mail address: *</label>
        <input id="email_address" type="email" formControlName="email_address" required>
        <mat-error *ngIf="submitted && fc.email_address.errors?.required" i18n>E-mail address is required</mat-error>
      </div>

      <div>
        <mat-checkbox formControlName="delivery_address" i18n>Click here if your delivery address differs from the billing address</mat-checkbox>
      </div>
    </div>

    <ng-container *ngIf="form.value.delivery_address">
      <div class="form-title">
        <h3 i18n>DELIVERY ADDRESS</h3>
      </div>

      <form class="form-content" [formGroup]="addressForm">
        <div>
          <label for="delivery_street_address" i18n>Street: *</label>
          <input id="delivery_street_address" type="text" formControlName="delivery_street_address" required>
          <mat-error *ngIf="submitted && afc.delivery_street_address.errors?.required" i18n>Street is required</mat-error>
        </div>
  
        <div>
          <label for="delivery_house_number" i18n>House number: *</label>
          <input id="delivery_house_number" type="text" formControlName="delivery_house_number" required>
          <mat-error *ngIf="submitted && afc.delivery_house_number.errors?.required" i18n>House number is required</mat-error>
        </div>
  
        <div>
          <label for="delivery_postcode" i18n>Postal Code: *</label>
          <input id="delivery_postcode" type="text" formControlName="delivery_postcode" required>
          <mat-error *ngIf="submitted && afc.delivery_postcode.errors?.required" i18n>Postal Code is required</mat-error>
        </div>
  
        <div>
          <label for="delivery_city" i18n>Place: *</label>
          <input id="delivery_city" type="text" formControlName="delivery_city" required>
          <mat-error *ngIf="submitted && afc.delivery_city.errors?.required" i18n>Place is required</mat-error>
        </div>
  
        <div>
          <label for="delivery_country" i18n>Country: *</label>
          <select id="delivery_country" formControlName="delivery_country" required>
            <option value="NL" i18n>Netherlands</option>
            <option value="BE" i18n>Belgium</option>
          </select>
          <mat-error *ngIf="submitted && afc.delivery_country.errors?.required" i18n>Country is required</mat-error>
        </div>
        </form>
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="mt-4 mb-4">
        <button mat-button i18n class="prev-step">
          <fa-icon [icon]="['fas', 'chevron-circle-left']"></fa-icon>Back
        </button>
        <button mat-button type="submit" class="next-step">
          <ng-container i18n>Step </ng-container>{{nextStep.index + ' ' + nextStep.title}}
          <fa-icon [icon]="['fas', 'chevron-circle-right']"></fa-icon>
        </button>
    </div>
  </form>
</div>
