<div class="added-to-cart">
  <h3 class="mat-dialog-title" i18n>Added to your shopping cart</h3>
  <div class="product" fxLayout fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="start center" fxLayoutGap="25px">
    <img class="product-image" (click)="navigateToDetail()" [attr.ix-path]="product.images[0].small" ix-params='{"auto":"compress"}'>
    <div>
      <a (click)="navigateToDetail()" class="title text-truncate">
          {{product.name}}
      </a>
      <p class="product-quantity" [ngStyle.lt-md]="{'text-align': 'center'}"><ng-container i18n>Quantity:</ng-container> {{product.quantity}}</p>
    </div>
    <div class="product-price" [ngStyle.gt-sm]="{'margin-left': '40px'}">
      {{product.newPrice | customCurrency}}
    </div>
    <div fxLayout="column" fxLayoutGap="10px">
        <button class="control-add-to-cart" mat-button (click)="navigateToCartList()" i18n>Order</button>
        <button class="control-normal" mat-button (click)="dialogRef.close()" i18n>Return to Shop</button>
    </div>
  </div>
  <div class="close-popup">
    <a mat-icon-button (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </a>
  </div>
</div>