<div [fxLayout]="direction" [fxLayoutAlign]="(direction == 'row') ? 'start center' : 'center end'">    
    <div class="ratings">        
         <mat-icon *ngFor="let star of stars; let i=index;" class="mat-icon-xs" (click)="rate(i)">{{star}}</mat-icon>
    </div>
    <p class="ratings-count text-muted" [ngClass]="{'margin-left-10': direction == 'row'}">{{ratingsCount}}
        <ng-container *ngIf="ratingsCount != 1" i18n>reviews</ng-container>
        <ng-container *ngIf="ratingsCount == 1" i18n>review</ng-container>
    </p>
</div>