<div [fxLayout]="direction" [fxLayoutAlign]="(direction == 'row') ? 'start center' : 'center end'">    
    <div class="ratings">
        <fa-icon [icon]="star" *ngFor="let star of stars; let i=index;" (click)="rate(i)"></fa-icon>
    </div>
    <span class="ratings-count text-muted" [ngClass]="{'margin-left-10': direction == 'row'}">
        <ng-container *ngIf="!review">
            {{ratingsCount}}
            <ng-container *ngIf="ratingsCount != 1" i18n>reviews</ng-container>
            <ng-container *ngIf="ratingsCount == 1" i18n>review</ng-container>
        </ng-container>
        <ng-container *ngIf="review">
            {{review}}
        </ng-container>
    </span>
</div>