<div class="misc-bar m-0">
    <mat-card class="shopping-cart">
        <mat-card-title>
            <h3><a [routerLink]="['/cart']" i18n>Uw winkelwagen</a></h3>
        </mat-card-title>
        <mat-card-content *ngIf="cart?.cart_contents?.length">
            <div class="shopping-cart-items">
                <div *ngFor="let item of cart.cart_contents" fxLayout>
                    <div fxFlex="17">{{item.item_qty}} x </div>
                    <div>
                        <a [routerLink]="[item.permalink]">{{item.item_name}}</a>
                    </div>
                </div>
            </div>
            <div class="shopping-cart-sub-total">
                <div fxLayout fxLayoutAlign="space-between start">
                    <strong i18n>Subtotal:</strong>
                    <strong>{{cart.cart_subtotal | customCurrency}}</strong>
                </div>
                <div>
                    <a [routerLink]="['/cart']">
                        <fa-icon [icon]="'caret-right'"></fa-icon>
                        <ng-container i18n> View your shopping cart</ng-container>
                    </a>
                </div>
                <button mat-button class="btn btn-checkout" [routerLink]="['/checkout']">
                    <span i18n>Ordering </span>
                    <fa-icon [icon]="'chevron-circle-right'"></fa-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <div *ngFor="let content of contents" >
        <mat-card>
            <mat-card-title><h3 i18n>{{content.title}}</h3></mat-card-title>
            <mat-card-content>
                <div *ngIf="content.index != 1">
                    <div [innerHtml]="content.content"></div>
                </div>

                <div *ngIf="content.index == 1">
                    <div class="adbox_opening_times">
                        <a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html" i18n><strong>Open today</strong></a>
                    </div>
                    <div class="adbox_opening_times">
                        <a href="https://www.plattetv.nl/extrainfo/advies-contact-2316.html" i18n>till 21:00 hour</a>
                    </div>
                    <div class="contact_box contact_chat_live">
                        <a onclick="LC_API.open_chat_window(); return false;" href="https://www.plattetv.nl/">
                            <div class="contact_box_icon">
                                <fa-icon [icon]="['far', 'comment']"></fa-icon>
                            </div>
                            <strong i18n>CHAT LIVE</strong>
                            <span i18n>Reply within 30 sec.</span>
                        </a>
                    </div>
                    <div class="contact_box contact_form">
                        <a href="https://www.plattetv.nl/extrainfo/contact-formulier-2557.html?popup=true" class="popupCMS">
                            <div class="contact_box_icon">
                                <fa-icon [icon]="['far','envelope']"></fa-icon>
                            </div>
                            <strong i18n>Insert Form</strong>
                            <span i18n>Reply within 10 min.</span>
                        </a>
                    </div>
                    <div class="contact_box contact_whatsapp">
                        <a href="https://api.whatsapp.com/send?phone=31633444433">
                            <div class="contact_box_icon">
                                <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                            </div>
                            <strong i18n>WHATSAPP US</strong>
                            <span i18n>Reply within 30 sec.</span>
                        </a>
                    </div>
                    <div class="contact_box contact_bel">
                        <a href="tel:0268454658">
                            <div class="contact_box_icon">
                                <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                            </div>
                            <strong i18n>CALL 026-84 54 658</strong>
                            <span i18n>Direct reply</span>
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card id="customer-review">
        <mat-card-title>
            <h3 i18n>CLIENT REVIEWS</h3>
        </mat-card-title>
        <mat-card-content>
            <div class="reviewbox reviewbox-kieskeurig">
                <span class="reviewbox--score" i18n>9,4</span>
                <span class="reviewbox--text">
                    <span class="reviewbox--label" i18n>Kieskeurig.nl</span>
                    <span class="reviewbox--total-reviews"><a href="https://www.kieskeurig.nl/winkels/plattetv/reviews" rel="noopener" target="_blank" i18n>20.510 reviews</a></span>
                </span>
            </div>
            <div class="reviewbox reviewbox-tweakers">
                <span class="reviewbox--title" i18n>Tweakers</span>
                <span class="reviewbox--star-40"></span>
                <span class="reviewboox--total-reviews"><a href="https://tweakers.net/shopreview/6924/plattetv/shopreviews/" rel="noopener" target="_blank" i18n>234 reviews</a></span>
            </div>
            <div class="reviewbox reviewbox-trustpilot">
                <span class="reviewbox--title" i18n>Trustpilot</span>
                <span class="reviewbox--star-40"></span>
                <span class="reviewboox--total-reviews"><a href="https://nl.trustpilot.com/review/www.plattetv.nl" rel="noopener" target="_blank" i18n>889 reviews</a></span>
            </div>
        </mat-card-content>
    </mat-card>  
  </div>
