@import '~swiper/dist/css/swiper.min.css';
@import '~@angular/material/theming';
@import "app/theme/styles/variables";
@import "app/theme/styles/base";
@import 'app/theme/styles/theme-reset';

$general-typography: mat-typography-config(
    $font-family: '"Poppins", sans-serif',
    $body-1:        mat-typography-level(.8125rem, 1.384615, 400),
    $body-2:        mat-typography-level(.875rem, 1.384615, 400),
    $subheading-1:  mat-typography-level(.875rem, 1.384615, 700),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $headline: mat-typography-level(.875rem, 1.384615, 700)
);

$custom-mat-card-typography: mat-typography-config(
        $headline: mat-typography-level(.875rem, 1.384615, 400)
);

@include mat-card-typography($custom-mat-card-typography);
@include mat-core($general-typography);

.app{
    $dark-primary: mat-palette($mat-grey, 900);
    $dark-accent: mat-palette($mat-yellow, 600);
    $dark-warn: mat-palette($mat-red, 700);
    $dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

    @include angular-material-theme($dark-theme);
    @include theme-reset($dark-theme);
}

