<div *ngIf="products" class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">      
        <div *ngFor="let product of products" class="swiper-slide">
            <mat-card class="product-item">
                <a [routerLink]="[ product.permalink ]" class="image-link">
                    <img [attr.ix-path]="product.images[0].medium" ix-params='{"auto":"compress"}'  class="swiper-lazy"/>
                </a>
                <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>
                <a [routerLink]="[ product.permalink ]" class="title text-truncate">
                    {{product.name}}
                </a>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <p class="old-price text-muted">
                            <span *ngIf="product.oldPrice">{{product.oldPrice | customCurrency}}</span>
                        </p>
                        <p class="new-price">{{product.newPrice | customCurrency}}</p>
                    </div>
                    <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                </div>
                <div class="divider mt-2"></div>
                <div class="icons">
                    <app-controls [product]="product" (productDialogOpened)="openProductDialog(product)"></app-controls>
                </div>
            </mat-card>
        </div>
    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
</div>