<!-- <div *ngFor="let f of filtersList" class="filter-box" (click)="navigate($event)">
    <div class="filter-box-heading">
        <h3>{{f.title}}</h3>
    </div>
    <div class="filter-box-content" [innerHTML]="f.content | htmlSanitize"></div>
</div>

<div class="filter-box" *ngIf="brands.length">
    <div class="filter-box-heading">
        <h3 i18n>Condition</h3>
    </div>
    <div class="filter-box-content" *ngFor="let brand of brands | slice:0:showMore[brandShow].count">
        <a [routerLink]="brand.permalink">{{brand.name}}</a>
    </div>
    <a class="show_more_toggle" *ngIf="brands.length > 10"
        (click)="brandShow = (brandShow === 'show_more') ? 'show_less' : 'show_more'">
        <strong>{{showMore[brandShow].text}} </strong>
        <fa-icon [icon]="['fas', showMore[brandShow].icon]"></fa-icon>
    </a>
</div> -->
<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <fa-icon [icon]="['fas', 'chevron-down']" *ngIf="treeControl.isExpanded(node); else rightArrow"></fa-icon>
        <ng-template #rightArrow><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon></ng-template>
      </button>
      {{node.name}}
    </mat-tree-node>
</mat-tree> -->

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        This is the expansion 1 title
        </mat-expansion-panel-header>
    
        This the expansion 1 content
    
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        This is the expansion 2 title
        </mat-expansion-panel-header>
    
        This the expansion 2 content
    
    </mat-expansion-panel>
    
</mat-accordion>