<mat-horizontal-stepper #horizontalStepper linear="true" class="mat-elevation-z2" fxShow="false" fxShow.gt-sm>
  <mat-step [stepControl]="billingForm" label="Billing address">
    <form [formGroup]="billingForm">     
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="First name" formControlName="firstName" required>
              <mat-error *ngIf="billingForm.controls.firstName.errors?.required" i18n>First name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Last name" formControlName="lastName" required>
              <mat-error *ngIf="billingForm.controls.lastName.errors?.required" i18n>Last name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Middle Name/Initial" formControlName="middleName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="billingForm.controls.email.errors?.required" i18n>Email is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Phone" formControlName="phone" required>
              <mat-error *ngIf="billingForm.controls.phone.errors?.required" i18n>Phone is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
            <mat-select i18n-placeholder placeholder="Country" formControlName="country" required>
              <mat-option *ngFor="let country of countries" [value]="country">
                  {{country.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="billingForm.controls.country.errors?.required" i18n>Country is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="City" formControlName="city" required>
              <mat-error *ngIf="billingForm.controls.city.errors?.required" i18n>City is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="State/Province" formControlName="state">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Zip/Postal Code" formControlName="zip" required>
              <mat-error *ngIf="billingForm.controls.zip.errors?.required" i18n>Zip/Postal Code is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Address (street, apartment, suite, unit etc.)" formControlName="address" required>
              <mat-error *ngIf="billingForm.controls.address.errors?.required" i18n>Address is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
<span class="cdk-visually-hidden" #translatedTooltipMessage i18n>Next</span>
        <button mat-mini-fab matStepperNext color="primary" [matTooltip]="translatedTooltipMessage.innerHTML" matTooltipPosition="after"><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="deliveryForm" label="Delivery method">
    <form [formGroup]="deliveryForm" class="p-2">
      <mat-radio-group formControlName="deliveryMethod" fxLayout="column" fxLayoutAlign="center" required name="methods">
        <mat-radio-button *ngFor="let method of deliveryMethods" color="primary" [value]="method" class="mt-1"><b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
      </mat-radio-group> 
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
<span class="cdk-visually-hidden" #translatedTooltipMessage2 i18n>Back</span>
<span class="cdk-visually-hidden" #translatedTooltipMessage3 i18n>Next</span>
        <button mat-mini-fab matStepperPrevious color="primary"  [matTooltip]="translatedTooltipMessage2.innerHTML" matTooltipPosition="before" class="mr-1"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
        <button mat-mini-fab matStepperNext color="primary"   [matTooltip]="translatedTooltipMessage3.innerHTML" matTooltipPosition="after"><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paymentForm" label="Payment method">
    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted" i18n>Credit Card</span>
          <img src="assets/images/others/card-icon.png" alt="">
        </div>        
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Card holder name" formControlName="cardHolderName" required>
              <mat-error *ngIf="paymentForm.controls.cardHolderName.errors?.required" i18n>Card holder name name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Card number" formControlName="cardNumber" required>
              <mat-error *ngIf="paymentForm.controls.cardNumber.errors?.required" i18n>Card number is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select i18n-placeholder placeholder="Expired month" formControlName="expiredMonth" required>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredMonth.errors?.required" i18n>Expired month is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select i18n-placeholder placeholder="Expired year" formControlName="expiredYear" required>
              <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredYear.errors?.required" i18n>Expired year is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="CVV" formControlName="cvv" required>
              <mat-error *ngIf="paymentForm.controls.cvv.errors?.required" i18n>CVV is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperPrevious color="primary"  [matTooltip]="translatedTooltipMessage2.innerHTML" matTooltipPosition="before" class="mr-1"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
        <button mat-mini-fab matStepperNext color="primary"  [matTooltip]="translatedTooltipMessage3.innerHTML" matTooltipPosition="after"><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Review Order">    
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted" i18n>Shopping Cart</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell" i18n>Product</div>
            <div class="mat-header-cell" i18n>Name</div>
            <div class="mat-header-cell" i18n>Unit Price</div>
            <div class="mat-header-cell" i18n>Quantity</div>
            <div class="mat-header-cell" i18n>Total</div>
          </div>
          <div *ngFor="let product of appService.Data.cartList" class="mat-row">
            <div class="mat-cell"><img [src]="product.images[0].small" alt=""></div>
            <div class="mat-cell">{{product.name}}</div>
            <div class="mat-cell">{{product.newPrice | customCurrency:0:999}}</div>      
            <div class="mat-cell text-muted"> 1 </div>
            <div class="mat-cell">{{product.newPrice | customCurrency:0:999}}</div>
          </div>
        </div>
      </div> 
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2" i18n>Billing information</h3>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Name:</p>
        <p>{{billingForm.controls.firstName.value}} {{billingForm.controls.lastName.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Email:</p>
        <p>{{billingForm.controls.email.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Phone:</p>
        <p>{{billingForm.controls.phone.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Country:</p>
        <p>{{billingForm.controls.country.value['name']}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>City:</p>
        <p>{{billingForm.controls.city.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>State:</p>
        <p>{{billingForm.controls.state.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Zip/PostalCode:</p>
        <p>{{billingForm.controls.zip.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Street name + house number:</p>
        <p>{{billingForm.controls.address.value}}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2" i18n>Delivery information</h3>
        <div class="divider"></div>
        <p class="py-1">{{deliveryForm.controls.deliveryMethod.value['name']}} <span class="text-muted">{{deliveryForm.controls.deliveryMethod.value['desc']}}</span></p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2" i18n>Payment information</h3>
        <div class="divider"></div>
        <p class="py-1"><span class="text-muted mr-1" i18n>Card number:</span><span i18n>XXX-XXX-XXX-7224</span></p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-1"> 
       <h2>
         <span class="text-muted mr-1" i18n>Total Price:</span>
         <span>${{grandTotal | number : '1.2-2'}}</span></h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 

      <button mat-mini-fab matStepperPrevious color="primary" [matTooltip]="translatedTooltipMessage2.innerHTML" matTooltipPosition="before" class="mr-1"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>
      <button mat-raised-button matStepperNext color="primary" (click)="placeOrder()" i18n>Place order now</button>
    </div>     
  </mat-step>
  <mat-step label="Confirmation">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center"> 
      <button mat-fab color="primary"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
      <h2 class="py-2" i18n>Congratulation! Your order has been processed</h2>
      <p class="text-muted" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus interdum euismod.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <a [routerLink]="['/']" mat-raised-button color="primary" i18n>Return to Shop</a>
    </div>
     
  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper #verticalStepper linear="true" class="mat-elevation-z2" fxHide="false" fxHide.gt-sm>
  <mat-step [stepControl]="billingForm" label="Billing address">
    <form [formGroup]="billingForm">     
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="First name" formControlName="firstName" required>
              <mat-error *ngIf="billingForm.controls.firstName.errors?.required" i18n>First name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Last name" formControlName="lastName" required>
              <mat-error *ngIf="billingForm.controls.lastName.errors?.required" i18n>Last name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Middle Name/Initial" formControlName="middleName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="billingForm.controls.email.errors?.required" i18n>Email is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Phone" formControlName="phone" required>
              <mat-error *ngIf="billingForm.controls.phone.errors?.required" i18n>Phone is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
            <mat-select i18n-placeholder placeholder="Country" formControlName="country" required>
              <mat-option *ngFor="let country of countries" [value]="country">
                  {{country.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="billingForm.controls.country.errors?.required" i18n>Country is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="City" formControlName="city" required>
              <mat-error *ngIf="billingForm.controls.city.errors?.required" i18n>City is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="State/Province" formControlName="state">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Zip/Postal Code" formControlName="zip" required>
              <mat-error *ngIf="billingForm.controls.zip.errors?.required" i18n>Zip/Postal Code is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Address (street, apartment, suite, unit etc.)" formControlName="address" required>
              <mat-error *ngIf="billingForm.controls.address.errors?.required" i18n>Street name + house number is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperNext color="primary"  [matTooltip]="translatedTooltipMessage3.innerHTML" matTooltipPosition="after"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="deliveryForm" label="Delivery method">
    <form [formGroup]="deliveryForm" class="p-2">
      <mat-radio-group formControlName="deliveryMethod" fxLayout="column" fxLayoutAlign="center" required name="methods">
        <mat-radio-button *ngFor="let method of deliveryMethods" color="primary" [value]="method" class="mt-1"><b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
      </mat-radio-group> 
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperPrevious color="primary"  [matTooltip]="translatedTooltipMessage2.innerHTML" matTooltipPosition="before" class="mr-1"><fa-icon [icon]="['fas', 'chevron-up']"></fa-icon></button>
        <button mat-mini-fab matStepperNext color="primary"   [matTooltip]="translatedTooltipMessage3.innerHTML" matTooltipPosition="after"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paymentForm" label="Payment method">
    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted" i18n>Credit Card</span>
          <img src="assets/images/others/card-icon.png" alt="">
        </div>        
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Card holder name" formControlName="cardHolderName" required>
              <mat-error *ngIf="paymentForm.controls.cardHolderName.errors?.required" i18n>Card holder name name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="Card number" formControlName="cardNumber" required>
              <mat-error *ngIf="paymentForm.controls.cardNumber.errors?.required" i18n>Card number is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select i18n-placeholder placeholder="Expired month" formControlName="expiredMonth" required>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredMonth.errors?.required" i18n>Expired month is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select i18n-placeholder placeholder="Expired year" formControlName="expiredYear" required>
              <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredYear.errors?.required" i18n>Expired year is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput i18n-placeholder placeholder="CVV" formControlName="cvv" required>
              <mat-error *ngIf="paymentForm.controls.cvv.errors?.required" i18n>CVV is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
        <button mat-mini-fab matStepperPrevious color="primary"  [matTooltip]="translatedTooltipMessage2.innerHTML" matTooltipPosition="before" class="mr-1"><fa-icon [icon]="['fas', 'chevron-up']"></fa-icon></button>
        <button mat-mini-fab matStepperNext color="primary"   [matTooltip]="translatedTooltipMessage3.innerHTML" matTooltipPosition="after"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Review Order">    
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted" i18n>Shopping Cart</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell" i18n>Product</div>
            <div class="mat-header-cell" i18n>Name</div>
            <div class="mat-header-cell" i18n>Unit Price</div>
            <div class="mat-header-cell" i18n>Quantity</div>
            <div class="mat-header-cell" i18n>Total</div>
          </div>
          <div *ngFor="let product of appService.Data.cartList" class="mat-row">
            <div class="mat-cell"><img [src]="product.images[0].small" alt=""></div>
            <div class="mat-cell">{{product.name}}</div>
            <div class="mat-cell">{{product.newPrice | customCurrency:0:999}}</div>      
            <div class="mat-cell text-muted"> 1 </div>
            <div class="mat-cell">{{product.newPrice | customCurrency:0:999}}</div>
          </div>
        </div>
      </div> 
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2" i18n>Billing information</h3>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Name:</p>
        <p>{{billingForm.controls.firstName.value}} {{billingForm.controls.lastName.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Email:</p>
        <p>{{billingForm.controls.email.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Phone:</p>
        <p>{{billingForm.controls.phone.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Country:</p>
        <p>{{billingForm.controls.country.value['name']}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>City:</p>
        <p>{{billingForm.controls.city.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>State:</p>
        <p>{{billingForm.controls.state.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Zip/PostalCode:</p>
        <p>{{billingForm.controls.zip.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted" i18n>Address:</p>
        <p>{{billingForm.controls.address.value}}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2" i18n>Delivery information</h3>
        <div class="divider"></div>
        <p class="py-1">{{deliveryForm.controls.deliveryMethod.value['name']}} <span class="text-muted">{{deliveryForm.controls.deliveryMethod.value['desc']}}</span></p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2" i18n>Payment information</h3>
        <div class="divider"></div>
        <p class="py-1"><span class="text-muted mr-1" i18n>Card number:</span><span i18n>XXX-XXX-XXX-XXXX</span></p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-1"> 
       <h2>
         <span class="text-muted mr-1" i18n>Total Price:</span>
         <span>{{grandTotal | customCurrency}}</span></h2>    
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <button mat-mini-fab matStepperPrevious color="primary" [matTooltip]="translatedTooltipMessage2.innerHTML" matTooltipPosition="before" class="mr-1"><fa-icon [icon]="['fas', 'chevron-up']"></fa-icon></button>
      <button mat-raised-button matStepperNext color="primary" (click)="placeOrder()" i18n>Place order now</button>
    </div>     
  </mat-step>
  <mat-step label="Confirmation">
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center"> 
      <button mat-fab color="primary"><fa-icon [icon]="['fas', 'check']"></fa-icon></button>
      <h2 class="py-2" i18n>Congratulation! Your order has been processed</h2>
      <p class="text-muted lh" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus interdum euismod.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1"> 
      <a [routerLink]="['/']" mat-raised-button color="primary" i18n>Return to Shop</a>
    </div>     
  </mat-step>
</mat-vertical-stepper>