.checkout {

    h2 {
        font-weight: bold;
        font-size: 1.625rem;
        line-height: normal;
        font-family: "Gotham Condensed";
        letter-spacing: 1px;
        color: #212226;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .active-step {
        background: #5AAD49 !important;
        color: #fff;
    }

    .step-box {
        background: #ececec;
        border-right: 1px solid #fff;
        p {
            font-weight: 600;
            font-size: 14px;
        }
        div {
            font-size: 11px;
        }
        &:last-child {
            border-right: none;
        }
    }
}